{% extends "_layouts/blank.html.twig" %}

{% block title %} {{ 'control_panel'|trans }} - {{ 'view.space.create'|trans }}{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}

        <div class="management-content w-100 p-4">
            <div class="container d-grid justify-content-start mt-4">
                <a href="{{ app.request.headers.get('referer')|default(path('web_space_list')) }}" class="nav-link centered-icon-text text-primary">
                    <i class="material-icons">arrow_back</i>
                    {{ 'back'|trans }}
                </a>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card card-body shadow">
                        <h2>{{ 'view.space.create'|trans }}</h2>

                        <hr>

                        <form action="{{ path('admin_space_create') }}" method="post">
                            <div class="mb-3">
                                <label for="name" class="mb-1">{{ 'name'|trans }}</label>
                                <input type="text" class="form-control" id="name" name="name" data-cy="name">
                            </div>

                            <div class="mb-3">
                                <label for="maxCapacity" class="mb-1">{{ 'max-capacity'|trans }}</label>
                                <input type="number" class="form-control" id="maxCapacity" name="maxCapacity" min="0">
                            </div>

                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="isAccessible" name="isAccessible" value="1">
                                <label class="form-check-label" for="isAccessible">{{ 'is-accessible'|trans }}</label>
                            </div>


                            <button type="submit" class="btn btn-primary me-3" data-cy="submit">{{ 'create_and_publish'|trans }}</button>
                            <button type="button" class="btn btn-secondary me-3">{{ 'create_in_draft'|trans }}</button>
                            <a href="{{ path('admin_space_list') }}" class="btn">{{ 'cancel'|trans }}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

