{% extends "_layouts/blank.html.twig" %}

{% block title %} {{ 'Login'|trans}} {% endblock %}

{% block content %}
<section class="row mt-5">
    <div class="col-4 offset-4 mt-5">
        <div class="card card-body mt-5">
            <p class="mb-0">
                <span class="fs-3 fw-bold">{{ 'authentication.login.form.welcome'|trans }}!</span>
                <br>
                {{ 'authentication.login.form.paragraph'|trans }}.
            </p>
            <hr>
            <form action="">
                <label for="email">{{ 'Email'|trans }}</label>
                <input data-cy="email" class="form-control mb-3" type="text" id="email">

                <label for="password">{{ 'Password'|trans }}</label>
                <input data-cy="password" class="form-control mb-3" type="password" id="password">

                <button data-cy="submit" class="btn btn-primary w-100">
                    {{ 'Login'|trans }}
                </button>

                <div class="text-end mt-3">
                    <a href="#">{{ 'authentication.login.form.forgot_password'|trans }}</a>
                    <br>
                    <a href="#">{{ 'authentication.login.form.register'|trans }}</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}