<div class="d-flex justify-content-between align-items-end">
    <p class="fw-bold">{{ totalAgents }} {{ 'view.agent.quantity.total' | trans }}</p>
    {% include '_components/order-select.html.twig' %}
</div>

{% for agent in agents %}
    <div class="mw-100 agent-card">
        <div class="agent-card-header">
            <img src="{{ asset(agent.image ?? '') }}" alt="{{ 'photo' | trans }}" class="rounded-circle">
            <div class="agent-info gap0 gap-md-3">
                <h5 class="agent-name">{{ agent.name }}</h5>
                <span class="agent-type person">
                    <i class="material-icons">person</i> Pessoa
                </span>
            </div>
        </div>

        <div class="agent-card-body">
            <p class="agent-area">
                <strong>{{ 'areas_of_expertise' | trans }} (1):</strong>
                <span class="agent-sub-area">DESENVOLVIMENTO</span>
            </p>
            <p class="agent-location">
                <strong>{{ 'location' | trans }}:</strong> Goiânia (GO)
            </p>

            <div class="entity-seals">
                <strong>{{ 'seals'| trans }}:</strong>
                <p class="seal-entity">Avaliador UFPR</p>
                <p class="seal-entity">Avaliador UFC</p>
                <p class="seal-entity">Selo Mapas</p>
            </div>
            <p class="agent-description">{{ agent.longBio }}</p>
            <div class="access-profile-container">
                <a href="{{ path('web_agent_getOne', {'id': agent.id }) }}" class="btn btn-primary list-page__access-btn">
                    {{ 'view.agent.access' | trans }}
                </a>
            </div>
        </div>
    </div>

{% endfor %}

{% if agents|length > 0 %}
    <div class="container align-items-center mt-5 mb-5">
        <div class="centered-icon-text card-view-more">
            <i class="material-icons">add_circle_outline</i>
            <button class="btn fw-bold">{{ 'see_more' | trans }}</button>
        </div>
    </div>
{% endif %}
