<div class="tab-pane container active" id="generalData">
    {% if initiative.parent %}
        <div class="card shadow-sm mb-3 card__entity-details">
            <div class="card-body py-4">
                <p class="my-3">
                    {{ 'view.initiative.linked_parent' | trans }}
                    <a class="text-decoration-none fw-bold" href="{{ path('web_initiative_show', {id: initiative.parent.id }) }}">
                        {{ initiative.parent.name }}
                    </a>.
                </p>
            </div>
        </div>
    {% endif %}

    <div class="card shadow-sm mb-3 card__entity-details">
        <div class="card-body py-4">
            <h5 class="mb-4 fw-bold card-title__entity-details">{{ 'introduction' | trans }}</h5>

            <div class="row">
                <div class="col">
                    <label class="fw-bold mb-2">{{ 'view.initiative.type_of' | trans }}</label>
                    <p class="text-initiative fw-bold">
                        {% if initiative.extraFields.culturalLanguage is defined %}
                            {{ initiative.extraFields.culturalLanguage }}
                        {% else %}
                            {{ 'not_informed' | trans }}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="fw-bold mb-2">{{ 'areas_of_expertise' | trans }}</label>
                    <p>
                        {% if initiative.extraFields.areasOfExpertise is defined %}
                            {% for areaOfExpertise in initiative.extraFields.areasOfExpertise %}
                                <span class="text-initiative fw-bold">{{ areaOfExpertise }}</span>{{ loop.last ? '' : ',' }}
                            {% endfor %}
                        {% else %}
                            {{ 'not_informed' | trans }}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="fw-bold mb-2">Tags (3) <i class="material-icons text-primary fs-5 align-top">help</i></label>
                    <p>
                        <span class="text-initiative fw-bold">DESIGN</span>,
                        <span class="text-initiative fw-bold">ACESSIBILIDADE</span>,
                        <span class="text-initiative fw-bold">DESIGNINCLUSIVO</span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <label class="fw-bold mb-2">{{ 'view.initiative.period' | trans }}</label>
                    <p>
                        {% if initiative.extraFields.period is defined %}
                            {{ initiative.extraFields.period.startDate | date('d/m/Y') }} {{ 'to' | trans }} {{ initiative.extraFields.period.endDate | date('d/m/Y') }}
                        {% else %}
                            {{ 'not_informed' | trans }}
                        {% endif %}
                    </p>
                </div>
                <div class="col-12 col-sm-6">
                    <label class="fw-bold mb-2">{{ 'project_value' | trans }}</label>
                    <p>R$ 000.000,00</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="fw-bold mb-2">{{ 'description' | trans }}</label>
                    <p>
                        {% if initiative.extraFields.longDescription is defined %}
                            {{ initiative.extraFields.longDescription }}
                            <span class="text-primary fw-bold d-block">({{ 'see_more' | trans }})</span>
                        {% else %}
                            {{ 'not_informed' | trans }}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <label class="fw-bold mb-2">Site</label>
                    <p><a class="text-decoration-none fw-bold" href="#" target="_blank">Site da iniciativa</a></p>
                </div>
                <div class="col-12 col-sm-6">
                    <label class="fw-bold mb-2">{{ 'phone' | trans }}</label>
                    <p>(00) 12345-6789</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm mb-3 card__entity-details">
        <div class="card-body py-4">
            <h5 class="mb-4 fw-bold card-title__entity-details">{{ 'social_media' | trans }}</h5>

            <div class="row">
                <div class="col mb-2">
                    <label class="fw-bold mb-2">Instagram</label>
                    <p class="d-flex">
                        <i class="material-icons fs-4 me-1">facebook</i>
                        <span class="align-top fw-bold">
                            <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
                        </span>
                    </p>
                </div>
                <div class="col mb-2">
                    <label class="fw-bold mb-2">X ({{ 'old' | trans }} Twitter)</label>
                    <p class="d-flex">
                        <i class="material-icons fs-4 me-1">facebook</i>
                        <span class="align-top fw-bold">
                            <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
                        </span>
                    </p>
                </div>
                <div class="col mb-2">
                    <label class="fw-bold mb-2">Facebook</label>
                    <p class="d-flex">
                        <i class="material-icons fs-4 me-1">facebook</i>
                        <span class="align-top fw-bold">
                            <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <label class="fw-bold mb-2">Vimeo</label>
                    <p class="d-flex">
                        <i class="material-icons fs-4 me-1">facebook</i>
                        <span class="align-top fw-bold">
                            <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
                        </span>
                    </p>
                </div>
                <div class="col mb-2">
                    <label class="fw-bold mb-2">YouTube</label>
                    <p class="d-flex">
                        <i class="material-icons fs-4 me-1">facebook</i>
                        <span class="align-top fw-bold">
                            <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
                        </span>
                    </p>
                </div>
                <div class="col mb-2">
                    <label class="fw-bold mb-2">Linkedin</label>
                    <p class="d-flex">
                        <i class="material-icons fs-4 me-1">facebook</i>
                        <span class="align-top fw-bold">
                            <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col mb-2">
                    <label class="fw-bold mb-2">Spotify</label>
                    <p class="d-flex">
                        <i class="material-icons fs-4 me-1">facebook</i>
                        <span class="align-top fw-bold">
                            <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
                        </span>
                    </p>
                </div>
                <div class="col mb-2">
                    <label class="fw-bold mb-2">Pinterest</label>
                    <p class="d-flex">
                        <i class="material-icons fs-4 me-1">facebook</i>
                        <span class="align-top fw-bold">
                            <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
                        </span>
                    </p>
                </div>
                <div class="col mb-2">
                    <label class="fw-bold mb-2">Tiktok</label>
                    <p class="d-flex m-0">
                        <i class="material-icons fs-4 me-1">facebook</i>
                        <span class="align-top fw-bold">
                            <a class="text-decoration-none" href="#" target="_blank">nomedainiciativa</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm mb-3 card__entity-details">
        <div class="card-body py-4">
            <h5 class="mb-4 fw-bold card-title__entity-details">{{ 'other_information' | trans }}</h5>

            <hr class="mb-4">

            <h6 class="fw-bold mb-4">{{ 'local' | trans }}</h6>
            <span class="d-flex align-items-center fw-bold">
                <div class="rounded-circle card-names-ellipse__entity-details"></div>
                {% if initiative.space %}
                    <span><a class="text-decoration-none" href="#">{{ initiative.space.name }}</a></span>
                {% else %}
                    {{ 'not_informed' | trans }}
                {% endif %}
            </span>
        </div>
    </div>

    <div class="clearfix">
        <button data-cy="change-history-btn" type="button" class="btn btn-outline-success fw-bold px-sm-5 py-sm-2 btn-outline__entity-details float-start">
            {{ 'view.entities.change_history'|trans }}
        </button>
        <button data-cy="report-btn" type="button" class="btn btn-outline-success fw-bold px-sm-5 py-sm-2 btn-outline__entity-details float-end">
            {{ 'view.entities.report'|trans }}
        </button>
    </div>
</div>
