{% extends "_layouts/blank.html.twig" %}

{% block title %} {{ 'control_panel'|trans }} - {{ 'view.initiative.create'|trans }}{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}

        <div class="management-content w-100 p-4">

            <div class="container d-grid justify-content-start mt-4">
                <a href="{{ app.request.headers.get('referer')|default(path('web_initiative_list')) }}" class="nav-link centered-icon-text text-primary">
                    <i class="material-icons">arrow_back</i>
                    {{ 'back'|trans }}
                </a>
            </div>


            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card card-body shadow">
                        <h2>{{ 'view.initiative.create'|trans }}</h2>

                        <hr>

                        <form action="{{ path('admin_initiative_store') }}" method="post">
                            <input type="hidden" name="token" value="{{ csrf_token(form_id) }}">
                            <input type="hidden" id="idInitiative" name="id" value="{{ id }}">
                            <div class="mb-3">
                                <label for="nameInitiative" class="mb-1">{{ 'name'|trans }}</label>
                                <input type="text" class="form-control" id="nameInitiative" name="name" data-cy="name">
                            </div>
                            <div class="mb-3">
                                <label for="culturalLanguageInitiative" class="mb-1">{{ 'cultural_language'|trans }}</label>
                                <select class="form-select" id="culturalLanguageInitiative" name="extraFields[culturalLanguage]" data-cy="culturalLanguage">
                                    <option disabled selected></option>
                                    <option>Exposição</option>
                                    <option>Festival</option>
                                    <option>Musical</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="areasOfExpertiseInitiative" class="mb-1">{{ 'areas_of_expertise'|trans }}</label>
                                <select multiple class="form-select" id="areasOfExpertiseInitiative" name="extraFields[areasOfExpertise][]" data-cy="areasOfExpertise">
                                    <option>Artesanato</option>
                                    <option>Cinema</option>
                                    <option>Dança</option>
                                    <option>Fotografia</option>
                                    <option>Outros</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="initiativeCreatedBy" class="mb-1">{{ 'responsible_agent'|trans }}</label>
                                <select class="form-select" id="initiativeCreatedBy" name="createdBy" data-cy="createdBy">
                                    <option disabled selected></option>
                                    {% for item in agents %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="coverImageInitiative" class="mb-1">{{ 'cover_image'|trans }}</label>
                                <input type="file" class="form-control" id="coverImageInitiative" accept="image/*" data-cy="coverImage">
                                <input type="hidden" id="base64CoverImageInitiative" name="extraFields[coverImage]" value="">
                            </div>
                            <div class="mb-3">
                                <label for="shortDescriptionInitiative" class="mb-1">{{ 'short_description'|trans }}</label>
                                <textarea class="form-control" rows="3" maxlength="400" id="shortDescriptionInitiative" name="extraFields[shortDescription]" data-cy="shortDescription"></textarea>
                                <div class="clearfix">
                                    <small class="float-end">
                                        <span id="counterShortDescriptionInitiative">0</span>/400
                                    </small>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="longDescriptionInitiative" class="mb-1">{{ 'long_description'|trans }}</label>
                                <textarea class="form-control" rows="3" maxlength="400" id="longDescriptionInitiative" name="extraFields[longDescription]" data-cy="longDescription"></textarea>
                                <div class="clearfix">
                                    <small class="float-end">
                                        <span id="counterLongDescriptionInitiative">0</span>/400
                                    </small>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary me-3" data-cy="submit">{{ 'create_and_publish'|trans }}</button>
                            <button type="button" class="btn btn-secondary me-3">{{ 'create_in_draft'|trans }}</button>
                            <a href="{{ path('admin_initiative_list') }}" class="btn">{{ 'cancel'|trans }}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}{% endblock %}

{% block extra_javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/initiative/create.js') }}"></script>
{% endblock %}
