{% extends "_layouts/blank.html.twig" %}

{% block title %} {{ 'control_panel'|trans }} - {{ 'opportunity'|trans }} | {{ opportunity.name }} {% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}

        <div class="management-content w-100 p-4">
            <div class="row h-100">
                <div class="col-12">
                    <div class="card card-body shadow h-100">
                        <h2 class="px-3">{{ opportunity.name }}</h2>

                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="pill" href="#generalData">{{ 'general_data'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="pill" href="#inscriptions">{{ 'inscriptions'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="pill" href="#phases">{{ 'phases'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="pill" href="#calendar">{{ 'calendar'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="pill" href="#seals">{{ 'seals'|trans }}</a>
                            </li>
                        </ul>
                        <div class="py-4">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="generalData">
                                    {% include "_admin/opportunity/_partials/details/timeline-phases.html.twig" with { phases: phases } %}
                                </div>
                                <div class="tab-pane fade" id="inscriptions">
                                    {% include "_admin/opportunity/_partials/details/inscriptions.html.twig" %}
                                </div>
                                <div class="tab-pane fade" id="phases"></div>
                                <div class="tab-pane fade" id="calendar"></div>
                                <div class="tab-pane fade" id="seals"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
