<div class="card event-card mt-3 p-3">
    <div class="card-body row g-3 align-items-start">

        <div class="col-auto d-flex align-items-start">
            <img src="{{ event.image ? asset(event.image) : asset('img/home-events.png') }}"
                    alt="{{ event.name }}" class="rounded-circle event-img">
        </div>

        <div class="col d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="event-name fw-bold m-0">{{ event.name }}</h5>

                <button class="btn btn-outline-primary btn-sm copy-id" data-id="{{ event.id }}">
                    {{ 'copy_id' | trans }}
                </button>
            </div>
            <p class="text-dark mb-2">{{ event.subtitle ?? 'no_subtitle' | trans }}</p>

            <p class="d-flex align-items-center gap-2 mb-1">
                <i class="material-icons text-primary">event</i>
                <strong class="text-dark">
                    {% set nextOccurrence = event.eventSchedules|sort((a, b) => a.startHour <=> b.startHour)|find(o => o.startHour > "now"|date) %}
                    {{ nextOccurrence ? nextOccurrence.startHour|date('d/m/Y - H:i') : 'view.event.not_set_datetime' | trans }}
                </strong>
            </p>

            <p class="d-flex align-items-center gap-2 mb-1">
                <i class="material-icons text-primary">location_on</i>
                <span class="fw-bold text-dark">{{ event.space ? event.space.name : 'event.card.location' | trans }}</span>
            </p>

            <p class="event-languages d-flex align-items-center gap-2">
                <i class="material-icons text-primary">language</i>
                <strong class="text-dark">{{ 'cultural_language' | trans }}:</strong>
                {% for culturalLanguages in event.culturalLanguages %}
                    <span class="badge bg-light text-dark px-3 py-2">{{ culturalLanguages.name }}</span>
                {% else %}
                    <span class="text-primary">{{ 'no_cultural_languages' | trans }}</span>
                {% endfor %}
            </p>

            <div class="event-details d-flex flex-wrap gap-3">
                <p class="d-flex align-items-center gap-2 mb-0">
                    <i class="material-icons text-primary">monetization_on</i>
                    <strong class="text-dark">{{ 'entry_fee' | trans }}:</strong>
                    <span class="text-dark">{{ event.free ? 'free' | trans : 'paid' | trans }}</span>
                </p>

                <p class="d-flex align-items-center gap-2 mb-0">
                    <i class="material-icons text-primary">people</i>
                    <strong class="text-dark">{{ 'participants' | trans }}:</strong>
                    <span class="text-dark">{{ event.maxCapacity ?? 'participants' | trans }}</span>
                </p>
            </div>

            <div class="entity-seals mt-2 d-flex justify-content-between align-items-center">
                <div class="d-flex flex-wrap gap-2">
                    <strong class="text-dark">{{ 'seals' | trans }}:</strong>
                    {% for tag in event.tags %}
                        <span class="seal-entity px-3 py-1">{{ tag.name }}</span>
                    {% else %}
                        <span class="seal-entity px-3 py-1">{{ 'no_seals' | trans }}</span>
                    {% endfor %}
                </div>

                <a href="{{ path('web_event_show', {id: event.id}) }}" class="btn btn-primary btn-sm">
                    {{ 'view.event.access' | trans }}
                </a>
            </div>

        </div>

    </div>
</div>