<div class="d-flex justify-content-between align-items-end">
    <p class="total-events">{{ totalEvents }} {{ 'view.event.quantity.total' | trans }}</p>
    <div class="d-flex">
        <label class="d-none d-md-block text-nowrap align-self-center me-1" for="sort-options">{{ 'sort_by' | trans }}:</label>
        <select id="sort-options" class="form-select w-100">
            <option value="recent">{{ 'most_recent' | trans }}</option>
            <option value="old">{{ 'oldest' | trans }}</option>
        </select>
    </div>
</div>

{% for event in events %}
    <div class="card mw-100 event-card mt-1">
        <div class="event-card-header">
            <div class="d-flex flex-column flex-md-row align-items-center">
                <img src="{{ asset('img/home-events.png') }}" alt="Foto do evento" class="rounded-circle event-image">
                <div class="ms-0 ms-md-3 mt-2 mt-md-0">
                    <h5 class="event-name">{{ event.name }}</h5>
                    <p class="event-subtitle">Subtítulo do evento</p>
                </div>
            </div>
            <div class="event-id mt-2 mt-md-0 align-self-end align-self-md-start">
                ID: <span title="{{ event.id }}">{{ event.id|split('-')|first }}...</span>
            </div>
        </div>

        <div class="event-card-body ">
            <p class="event-date fw-bold align-self-center">
                <i class="material-icons">event</i>
                {% set occurrence = (event.extraFields.occurrences ?? ['-2days'])|sort|find(o => date(o) > date('now')) %}
                {% if occurrence is empty %}
                    {{ 'view.event.not_set_datetime'|trans }}
                {% else %}
                    {{ occurrence|date('view.event.format_datetime'|trans) }}
                {% endif %}
            </p>

            <p class="event-location">
                <i class="material-icons">location_on</i>
                {% if event.space %}
                    <span class="location-name fw-bold">{{ event.space.name }}</span> | SCTS – Zona Cívico Administrativa – Brasília/DF – CEP: 70070-150
                {% else %}
                    {{ 'event.card.location' | trans }}
                {% endif %}
            </p>

            <p class="event-languages text-center text-md-start">
                <strong>{{ 'language' | trans }} (3):</strong>
                <a href="#" class="language-link fw-bold">LINGUAGEM</a>,
                <a href="#" class="language-link fw-bold">LINGUAGEM</a>,
                <a href="#" class="language-link fw-bold">LINGUAGEM</a>
            </p>

            <div class="event-details d-flex align-items-start text-center text-md-start">
                <p class="entry-fee">
                    <i class="material-icons">monetization_on</i>
                    <strong>Valor da entrada: </strong> Gratuito
                </p>
                <p class="participants">
                    <i class="material-icons">people</i>
                    <strong>Número de participantes: </strong> 0
                </p>
            </div>

            <div class="entity-seals">
                <strong>{{ 'seals'| trans }}:</strong>
                <p class="seal-entity">Nome do selo</p>
                <p class="seal-entity">Nome do selo</p>
                <p class="seal-entity">Nome do selo</p>
            </div>

            <div class="text-center text-md-end mt-3">
                <a href="{{ path('web_event_show', {id: event.id}) }}" class="btn btn-primary list-page__access-btn">{{ 'view.event.access' | trans }}</a>
            </div>
        </div>
    </div>
{% endfor %}

{% if events|length > 0 %}
    <div class="container align-items-center mt-5 mb-5">
        <div class="centered-icon-text card-view-more">
            <i class="material-icons">add_circle_outline</i>
            <button class="btn fw-bold">{{ 'see_more' | trans }}</button>
        </div>
    </div>
{% endif %}
