<div class="tab-pane container fade" id="seals">
    <div class="card shadow-sm mb-3 card__entity-details">
        <div class="card-body py-4">
            <div class="row">
                <div class="col">
                    <span class="d-flex align-items-center mb-3">
                        <div class="rounded-circle card-names-ellipse__entity-details"></div>
                        <span><a class="text-decoration-none fw-bold" href="#">Nome do selo</a></span>
                    </span>
                    <div class="container w-auto ms-sm-5">
                        <div class="fw-bold mb-3">
                            <label data-cy="seal-creator">{{ 'view.seal.creator'|trans }}:</label> <span><a class="text-decoration-none" href="#">Nome Sobrenome</a></span>
                        </div>
                        <div class="fw-bold mb-3">
                            <label>{{ 'view.seal.awarded_by'|trans }}:</label> <span><a class="text-decoration-none" href="#">Nome Sobrenome</a></span>
                        </div>
                        <div class="mb-2">
                            <label class="fw-bold">{{ 'short_description'|trans }}:</label>
                            <span>
                                Lorem ipsum ornare erat mattis aliquet rutrum placerat, eget neque mi fames quis donec, vitae torquent lorem tellus ipsum vivamus.
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                <label class="fw-bold"><i class="material-icons align-top fs-4 me-1">event_note</i> {{ 'view.seal.date_of_receipt_of_the'|trans }}:</label>
                                <span>00/00/0000</span>
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                <label data-cy="seal-validity" class="fw-bold"><i class="material-icons align-top fs-4 me-1">event_available</i> {{ 'view.seal.validity'|trans }}:</label>
                                <span>{{ 'does_not_expire'|trans }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <span class="d-flex align-items-center mb-3">
                        <div class="rounded-circle card-names-ellipse__entity-details"></div>
                        <span><a class="text-decoration-none fw-bold" href="#">Nome do selo</a></span>
                        <span class="fw-semibold small text-danger"><i class="material-icons align-top fs-5">warning</i> {{ 'view.seal.expired'|trans }}</span>
                    </span>
                    <div class="container w-auto ms-sm-5">
                        <div class="fw-bold mb-3">
                            <label data-cy="seal-creator">{{ 'view.seal.creator'|trans }}:</label> <span><a class="text-decoration-none" href="#">Nome Sobrenome</a></span>
                        </div>
                        <div class="fw-bold mb-3">
                            <label>{{ 'view.seal.awarded_by'|trans }}:</label> <span><a class="text-decoration-none" href="#">Nome Sobrenome</a></span>
                        </div>
                        <div class="mb-2">
                            <label class="fw-bold">{{ 'short_description'|trans }}:</label>
                            <span>
                                Lorem ipsum ornare erat mattis aliquet rutrum placerat, eget neque mi fames quis donec, vitae torquent lorem tellus ipsum vivamus.
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-6 mb-2">
                                <label class="fw-bold"><i class="material-icons align-top fs-4 me-1">event_note</i> {{ 'view.seal.date_of_receipt_of_the'|trans }}:</label>
                                <span>00/00/0000</span>
                            </div>
                            <div class="col-12 col-sm-6 mb-2">
                                <label data-cy="seal-validity" class="fw-bold"><i class="material-icons align-top fs-4 me-1">event_available</i> {{ 'view.seal.validity'|trans }}:</label>
                                <span>24 {{ 'months'|trans }} ({{ 'to'|trans }} 00/00/0000)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
