<div class="form-step form-step-active">
    <div class="mb-3">
        <label for="inputName" class="form-label">{{ 'first_name'|trans }}</label>
        <input type="text" class="form-control" name="first_name" placeholder="{{ 'first_name'|trans }}" required>
    </div>

    <div class="mb-3">
        <label for="inputName" class="form-label">{{ 'lastname'|trans }}</label>
        <input type="text" class="form-control" name="last_name" placeholder="{{ 'lastname'|trans }}" required>
    </div>

    <div class="mb-3">
        <label for="inputBirdDate" class="form-label">{{ 'birth_date'|trans }}</label>
        <input type="date" class="form-control" name="birth_date" >
    </div>

    <div class="mb-3">
        <label for="inputCPF" class="form-label text-uppercase">{{ 'cpf'|trans }}</label>
        <input type="text" class="form-control" name="cpf" data-mask="cpf" placeholder="Ex: 123.123.123-12" maxlength="14">
    </div>

    <div class="mb-3">
        <label for="inputPhone" class="form-label">{{ 'phone'|trans }}</label>
        <input type="tel" class="form-control" name="phone" data-mask="phone" placeholder="{{ 'phone'|trans }}" maxlength="16">
    </div>

    <div class="mb-3">
        <label for="inputEmail" class="form-label">{{ 'email'|trans }}</label>
        <input type="email" class="form-control" name="email" placeholder="{{ 'email'|trans }}" required>
    </div>

    <div class="mb-3">
        <label for="inputPassword" class="form-label">{{ 'password'|trans }}</label>
        <input type="password" class="form-control" name="password" placeholder="{{ 'password'|trans }}" required>
        <small class="form-text text-muted">
            {{ 'view.authentication.register.password_info_1'|trans }}:
        </small>
        <small class="form-text fw-semibold text-danger">
            {{ 'view.authentication.register.password_info_2'|trans }}.
        </small>
    </div>

    <div class="mb-3">
        <label for="inputPasswordConfirm" class="form-label">{{ 'confirm_password'|trans }}</label>
        <input type="password" class="form-control" name="confirm_password" placeholder="{{ 'confirm_password'|trans }}" >
    </div>

    <div class="mb-3">
        <label for="passwordStrength" class="form-label">{{ 'password_strength'|trans }}</label>
        <div class="progress" id="passwordStrength" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 0%" aria-label="Password strength"></div>
        </div>
    </div>

    <div class="btn-form-group mt-3">
        <button class="btn btn-next">{{ 'continue'|trans }}</button>
    </div>
</div>
