<section class="row">
    <div class="col">
        <div class="card-dashboard" data-cy="agent-card-dashboard">
            <div class="d-flex align-items-center">
                <div class="bg-card-dashboard bg-agent">
                    <i class="material-icons">group</i>
                </div>
                <span class="fw-bold fs-5">{{ "agents" | trans }}</span>
            </div>
            <div class="align-self-center d-flex flex-column align-items-center gap-0">
                <span class="fw-bold fs-1">{{ totalAgents }}</span>
                <span class="fw-bold">{{ "agents" | trans }}</span>
            </div>
            <button class="d-flex align-items-center justify-content-center">
                <i class="material-icons">add</i>
                <span class="fs-5 fw-bold">{{ "create" | trans }}</span>
            </button>
        </div>
    </div>

    <div class="col">
        <div class="card-dashboard" data-cy="opportunity-card-dashboard">
            <div class="d-flex align-items-center">
                <div class="bg-card-dashboard bg-opportunity">
                    <i class="iconify" data-icon="mdi:lightbulb-on"></i>
                </div>
                <span class="fw-bold fs-5">{{ "opportunities" | trans }}</span>
            </div>
            <div class="align-self-center d-flex flex-column align-items-center gap-0">
                <span class="fw-bold fs-1">{{ totalOpportunities }}</span>
                <span class="fw-bold">{{ "opportunities" | trans }}</span>
            </div>
            <button class="d-flex align-items-center justify-content-center">
                <i class="material-icons">add</i>
                <span class="fs-5 fw-bold">{{ "create" | trans }}</span>
            </button>
        </div>
    </div>

    <div class="col">
        <div class="card-dashboard" data-cy="event-card-dashboard">
            <div class="d-flex align-items-center">
                <div class="bg-card-dashboard bg-event">
                    <i class="material-icons">event</i>
                </div>
                <span class="fw-bold fs-5">{{ "events" | trans }}</span>
            </div>
            <div class="align-self-center d-flex flex-column align-items-center gap-0">
                <span class="fw-bold fs-1">{{ totalEvents }}</span>
                <span class="fw-bold">{{ "events" | trans }}</span>
            </div>
            <button class="d-flex align-items-center justify-content-center">
                <i class="material-icons">add</i>
                <span class="fs-5 fw-bold">{{ "create" | trans }}</span>
            </button>
        </div>
    </div>

    <div class="col">
        <div class="card-dashboard" data-cy="space-card-dashboard">
            <div class="d-flex align-items-center">
                <div class="bg-card-dashboard bg-space">
                    <i class="material-icons">domain</i>
                </div>
                <span class="fw-bold fs-5">{{ "spaces" | trans }}</span>
            </div>
            <div class="align-self-center d-flex flex-column align-items-center gap-0">
                <span class="fw-bold fs-1">{{ totalSpaces }}</span>
                <span class="fw-bold">{{ "spaces" | trans }}</span>
            </div>
            <button class="d-flex align-items-center justify-content-center">
                <i class="material-icons">add</i>
                <span class="fs-5 fw-bold">{{ "create" | trans }}</span>
            </button>
        </div>
    </div>

    <div class="col">
        <div class="card-dashboard" data-cy="initiative-card-dashboard">
            <div class="d-flex align-items-center">
                <div class="bg-card-dashboard bg-initiative">
                    <i class="material-icons">article</i>
                </div>
                <span class="fw-bold fs-5">{{ "initiatives" | trans }}</span>
            </div>
            <div class="align-self-center d-flex flex-column align-items-center gap-0">
                <span class="fw-bold fs-1">{{ totalInitiatives }}</span>
                <span class="fw-bold">{{ "initiatives" | trans }}</span>
            </div>
            <button class="d-flex align-items-center justify-content-center">
                <i class="material-icons">add</i>
                <span class="fs-5 fw-bold">{{ "create" | trans }}</span>
            </button>
        </div>
    </div>
</section>
