<h1 class="fs-2 fw-bold">{{ "dashboard"|trans }}</h1>
<div class="dashboard-info d-flex align-items-center justify-content-between">
    <div class="user-info">
        <img src="{{ asset('img/allan.png') }}" alt="{{ "profile_picture" | trans }}"/>
        <span class="fs-4 fw-semibold">{{ "welcome" | trans }}, {{ user.name }}</span>
    </div>
    <a href="#">
        <i class="material-icons">person</i>
        {{ "access_main_agent" | trans}}
    </a>
</div>
