{% set pills = [
    {
        'id': id~'Archives',
        'title': 'archives'
    },
    {
        'id': id~'Links',
        'title': 'Links'
    },
    {
        'id': id~'Videos',
        'title': 'Videos'
    },
    {
        'id': id~'Images',
        'title': 'images'
    }
] %}

<div class="tab-pane container fade" id="{{ id }}">
    {% include '_components/_show/nav-pills.html.twig' with {
        'pills': pills,
        'classes': 'border-bottom border-secondary'
    } %}

    <div class="tab-content py-3">
        <div class="tab-pane container active" id="{{ id }}Archives">
            <div class="card shadow-sm mb-3 card__entity-details">
                <div class="card-body py-4">
                    <div class="row">
                        <div class="col">
                            <div class="clearfix">
                                <span class="d-flex align-items-center float-start">
                                    <span class="portfolio-icon__entity-details p-2 rounded-circle"><i class="material-icons align-top fs-4">picture_as_pdf</i></span>
                                    <span><a class="text-decoration-none fw-bold" href="#">Nome do arquivo</a></span>
                                </span>
                                <span class="float-end pt-2">
                                    <a class="text-decoration-none fw-bold" href="#"><i class="material-icons align-middle fs-5 me-1">remove_red_eye</i> {{ 'view_file'|trans }}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row">
                        <div class="col">
                            <div class="clearfix">
                                <span class="d-flex align-items-center float-start">
                                    <span class="portfolio-icon__entity-details p-2 rounded-circle"><i class="material-icons align-top fs-4">picture_as_pdf</i></span>
                                    <span><a class="text-decoration-none fw-bold" href="#">Nome do arquivo</a></span>
                                </span>
                                <span class="float-end pt-2">
                                    <a class="text-decoration-none fw-bold" href="#"><i class="material-icons align-middle fs-5 me-1">remove_red_eye</i> {{ 'view_file'|trans }}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="{{ id }}Links">
            <div class="card shadow-sm mb-3 card__entity-details">
                <div class="card-body py-4">
                    Em breve
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="{{ id }}Videos">
            <div class="card shadow-sm mb-3 card__entity-details">
                <div class="card-body py-4">
                    Em breve
                </div>
            </div>
        </div>
        <div class="tab-pane container fade" id="{{ id }}Images">
            <div class="card shadow-sm mb-3 card__entity-details">
                <div class="card-body py-4">
                    Em breve
                </div>
            </div>
        </div>
    </div>
</div>
