<div class="agent-organizations d-flex flex-column justify-content-between">
    <div class="d-flex justify-content-between align-items-center">
        <span class="fw-bold ">{{ 'view.agent_profile.organizations_of' | trans }} {{ agent.name }}</span>
        <span class="d-flex align-items-center">
            <a href="/" class="fw-bold text-decoration-none">{{ 'view_all' | trans }}</a>
            <i class="material-icons">keyboard_arrow_right</i>
        </span>
    </div>
    <div class="agent-organizations__content d-flex justify-content-between">
        <a href="/" class="agent-organization">
            <img src="{{ asset('img/home-agents.png') }}" alt="{{ 'view.agent_profile.organization_photo' | trans }}">
            Anne Elisa Design
        </a>
        <a href="/" class="agent-organization">
            <img src="{{ asset('img/home-agents.png') }}" alt="{{ 'view.agent_profile.organization_photo' | trans }}">
            Designers do Hack
        </a>
        <a href="/" class="agent-organization">
            <img src="{{ asset('img/home-agents.png') }}" alt="{{ 'view.agent_profile.organization_photo' | trans }}">
            Coral Madrigal
        </a>
    </div>
</div>
