<div class="tab-pane container active" id="generalData">
    <div class="card shadow-sm mb-3 card__entity-details">
        <div class="card-body py-4">
            <h5 class="mb-4 fw-bold card-title__entity-details">{{ 'introduction' | trans }}</h5>

            <div class="row">
                <div class="col">
                    <label data-cy="event-culturalLanguages" class="fw-bold mb-2">{{ 'cultural_languages' | trans }}</label>
                    <p>
                        <span class="text__entity-details fw-bold">Exposição</span>,
                        <span class="text__entity-details fw-bold">Festival</span>,
                        <span class="text__entity-details fw-bold">Musical</span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="fw-bold mb-2">Tags (3) <i class="material-icons text-primary fs-5 align-top">help</i></label>
                    <p>
                        <span class="text__entity-details fw-bold">DESIGN</span>,
                        <span class="text__entity-details fw-bold">ACESSIBILIDADE</span>,
                        <span class="text__entity-details fw-bold">DESIGNINCLUSIVO</span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label data-cy="event-description" class="fw-bold mb-2">{{ 'description' | trans }}</label>
                    <p>
                        {% if event.extraFields.longDescription is defined %}
                            {{ event.extraFields.longDescription }}
                            <span class="text-primary fw-bold d-block">({{ 'see_more' | trans }})</span>
                        {% else %}
                            {{ 'not_informed' | trans }}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6">
                    <label class="fw-bold mb-2">Site</label>
                    <p><a class="text-decoration-none fw-bold" href="#" target="_blank">Site do evento</a></p>
                </div>
                <div class="col-12 col-sm-6">
                    <label class="fw-bold mb-2">{{ 'phone' | trans }}</label>
                    <p>(00) 12345-6789</p>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow-sm mb-3 card__entity-details">
        <div class="card-body py-4">
            {% include "_components/_show/social-media.html.twig" %}
        </div>
    </div>

    <div class="card shadow-sm mb-3 card__entity-details">
        <div class="card-body py-4">
            <h5 class="mb-4 fw-bold card-title__entity-details">{{ 'other_information' | trans }}</h5>

            <hr class="mb-4">

            <h6 class="fw-bold mb-4">{{ 'local' | trans }}</h6>
            <span class="d-flex align-items-center fw-bold">
                <div class="rounded-circle card-names-ellipse__entity-details"></div>
                {% if event.space %}
                    <span data-cy="event-location"><a class="text-decoration-none" href="#">{{ event.space.name }}</a></span>
                {% else %}
                    {{ 'not_informed' | trans }}
                {% endif %}
            </span>
        </div>
    </div>

    {% include "_components/_show/report-btns.html.twig" %}
</div>
