<h1 class="entity-dashboard-title">{{ 'agent.title' | trans }}</h1>
<div class="entity-dashboard row mb-4 mt-4">
    <div class="card dashboard-card shadow-sm">
        <div class="top d-flex justify-content-between align-items-start">
            <h2 class="quantity">44</h2>
            <span class="material-icons lock-icon">lock</span>
        </div>
        <div class="content">
            <span class="text">{{ 'agent.registered_agents' | trans }}</span>
        </div>
    </div>

    <div class="card dashboard-card shadow-sm">
        <div class="top d-flex justify-content-between align-items-start">
            <h2 class="quantity">32</h2>
            <span class="material-icons custom-icon">person </span>
        </div>
        <div class="content">
            <span class="text">{{ 'agent.individual_agents' | trans }}</span>
        </div>
    </div>

    <div class="card dashboard-card shadow-sm">
        <div class="top d-flex justify-content-between align-items-start">
            <h2 class="quantity">12</h2>
            <span class="material-icons custom-collective-icon">groups</span>
        </div>
        <div class="content">
            <span class="text">{{ 'agent.collective_agents' | trans }}</span>
        </div>
    </div>

    <div class="card dashboard-card shadow-sm">
        <div class="top d-flex justify-content-between align-items-start">
            <h2 class="quantity">1</h2>
            <span class="material-icons lock-icon">lock</span>
        </div>
        <div class="content">
            <span class="text">{{ 'agent.registered_last_7_days' | trans }}</span>
        </div>
    </div>
</div>
