<section class="container">
    <p class="fs-5 text-bold">{{ 'suggestions' | trans }}</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card-question">
                <div class="card-question-content">
                    <div class="card-question-icon">
                        <i class="material-icons">help_outline</i>
                    </div>
                    <div class="card-question-text">
                        <h3 class="card-question-title">{{ 'view.faq.question_1' | trans}} </h3>
                        <p class="card-question-description">
                            {{ 'view.faq.answer_1' | trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-question">
                <div class="card-question-content">
                    <div class="card-question-icon">
                        <i class="material-icons">help_outline</i>
                    </div>
                    <div class="card-question-text">
                        <h3 class="card-question-title">{{ 'view.faq.question_2' | trans}} </h3>
                        <p class="card-question-description">
                            {{ 'view.faq.answer_2' | trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" >
            <div class="card-question">
                <div class="card-question-content">
                    <div class="card-question-icon">
                        <i class="material-icons">help_outline</i>
                    </div>
                    <div class="card-question-text">
                        <h3 class="card-question-title">{{ 'view.faq.question_3' | trans}} </h3>
                        <p class="card-question-description">
                            {{ 'view.faq.answer_3' | trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <section class="faq-section">
            <div class="faq-intro mt-5">
                <p>{{ 'view.faq.categories' | trans }}</p>
            </div>

            <div class="d-flex justify-content-between gap-2">
                <div class="col">
                    {% for faq in faqs %}
                        {% if loop.index is odd %}
                            <div class="card card-body card-faq-item mb-2">
                                <p>{{ faq.question }}</p>
                                <i class="material-icons" data-bs-toggle="modal" data-bs-target="#faqModal-{{ faq.id }}">chevron_right</i>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col">
                    {% for faq in faqs %}
                        {% if loop.index is even %}
                            <div class="card card-body card-faq-item mb-2">
                                <p>{{ faq.question }}</p>
                                <i class="material-icons" data-bs-toggle="modal" data-bs-target="#faqModal-{{ faq.id }}">chevron_right</i>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        {% for faq in faqs %}
        <div class="modal fade faq-modal" id="faqModal-{{ faq.id }}" tabindex="-1" aria-labelledby="faqModalLabel-{{ faq.id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="faqModalLabel-{{ faq.id }}">{{ faq.question }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ faq.answer }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>