<section class="container">
    <p class="fs-5 text-bold">{{ 'suggestions' | trans }}</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card-question">
                <div class="card-question-content">
                    <div class="card-question-icon">
                        <i class="material-icons">help_outline</i>
                    </div>
                    <div class="card-question-text">
                        <h3 class="card-question-title">{{ 'view.faq.question_1' | trans}} </h3>
                        <p class="card-question-description">
                            {{ 'view.faq.answer_1' | trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-question">
                <div class="card-question-content">
                    <div class="card-question-icon">
                        <i class="material-icons">help_outline</i>
                    </div>
                    <div class="card-question-text">
                        <h3 class="card-question-title">{{ 'view.faq.question_2' | trans}} </h3>
                        <p class="card-question-description">
                            {{ 'view.faq.answer_2' | trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-question">
                <div class="card-question-content">
                    <div class="card-question-icon">
                        <i class="material-icons">help_outline</i>
                    </div>
                    <div class="card-question-text">
                        <h3 class="card-question-title">{{ 'view.faq.question_3' | trans}} </h3>
                        <p class="card-question-description">
                            {{ 'view.faq.answer_3' | trans }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
