<section class="faq-header">
    <div class="faq-content">
        <img src="{{ asset('img/ilustra.png') }}" alt="{{ 'faq-illustration' | trans }}" class="faq-image">
        <div class="faq-text">
            <h1 class="fw-bold">{{ 'view.faq.title' | trans }}</h1>
            <p class="lead-faq">{{ 'view.faq.subtitle' | trans }}</p>
        </div>
    </div>
</section>

<div class="input-wrapper mt-4">
    <input type="text" class="custom-search-input" placeholder="{{ 'search' | trans }}">
    <span class="custom-search-icon">
        <i class="material-icons">search</i>
    </span>
</div>
