{% extends "_layouts/blank.html.twig" %}

{% block title %} {{ 'control_panel'|trans }} - {{ 'users'|trans }} - {{ 'Timeline'|trans }}{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}
        {% include "_components/modal-timeline.html.twig" %}

        <div class="management-content w-100 p-4">
            <div class="row">
                <div class="col-12">
                    <div class="card card-body shadow">
                        <div class="d-flex justify-content-between">
                            <h2>{{ 'user'|trans }} - {{ user.name }} - {{ 'Timeline'|trans }}</h2>
                            <div>
                                <a href="{{  path('admin_user_list') }}" class="btn btn-outline-primary">
                                    {{ 'back' | trans }}
                                </a>
                            </div>
                        </div>

                        {% include '_components/tabs/tab.html.twig' with {
                            tabs: [
                                { id: 'entity', title: 'entity'|trans },
                                { id: 'auth', title: 'auth'|trans },
                            ],
                        } %}
                        <hr>

                        {% include '_components/tabs/content-tabs.html.twig' with {
                            tabs: [
                                { id: 'entity', content: include('_admin/user/_partials/entity-timeline.html.twig') },
                                { id: 'auth', content: include('_admin/user/_partials/auth-timeline.html.twig') },
                            ],
                        } %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/modal-timeline.js') }}"></script>
{% endblock %}
