<div class="entity-imgs">
    <div class="banner">
        <input class="banner-input" type="file" accept="image/*" />
        <label for="banner-input" class="banner-label">
            <span class="iconify entity-photo me-2" data-icon="tabler:camera-plus"></span>
            {{ 'add_cover_image' | trans }}
        </label>
    </div>

    <div class="profile-pic">
        <label for="profile-input" class="profile-label">
            <span class="iconify entity-photo" data-icon="tabler:camera-plus"></span>
            <input id="profile-input" type="file" accept="image/*" />
        </label>
    </div>
</div>

<div class="entity-introduction-data">
    <label for="name">
        {{ 'name_initiative' | trans }}
        <span class="iconify entity-edit-icon me-2" data-icon="ri:question-fill"></span>
    </label>
    <input type="text"
           class="form-control"
           id="name" name="name"
           value="{{ initiative.name }}"
           placeholder="{{ 'enter_initiative' | trans }}"
           required
    >

    <div>
        <label for="initiative-type">{{ 'view.initiative.type_of' |trans }}</label>
        <select class="form-select" id="initiative-type" name="initiative_type">
            <option>Selecione</option>
        </select>
    </div>

    <div class="entity-input-tags">
        <label>
            Tags
            <span class="iconify entity-edit-icon me-2" data-icon="ri:question-fill"></span>
        </label>
        <span class="d-flex align-items-center gap-3">
            {{ 'view.registration-space.add_new' | trans }}
            <span class="iconify fs-5" data-icon="material-symbols:add"></span>
        </span>
    </div>

    <label for="short-description">{{ 'short_description' | trans }}</label>
    <textarea class="form-control"
              id="short-description" name="short_description"
              placeholder="{{ 'short_description' | trans }}"
              required
              maxlength="400"
    ></textarea>

    <label for="long-description">{{ 'long_description' | trans }}</label>
    <textarea class="form-control"
              id="long-description" name="long_description"
              placeholder="{{ 'long_description' | trans }}"
              required
    ></textarea>


    <div class="d-flex flex-wrap gap-1 gap-md-3">
        <div class="flex-grow-1">
            <label for="site">{{ 'site' | trans }} (URL):</label>
            <input type="text" id="site" class="form-control" placeholder="https://www.site.com">
        </div>
        <div class="flex-grow-1">
            <label for="link-description">{{ 'link_description' | trans }}:</label>
            <input type="text" id="link-description" name="link_description" class="form-control" placeholder="Digite">
        </div>
    </div>
    <div class="d-flex flex-wrap gap-1 gap-md-3 mt-1 mt-md-3">
        <div class="flex-grow-1">
            <label for="email">{{ 'public_email' | trans }}:</label>
            <input type="email" id="email" class="form-control" name="email" placeholder="email@email.com" value="">
        </div>
        <div class="flex-grow-1">
            <label for="telefone">{{ 'public_phone' | trans }} (com DDD):</label>
            <input type="text" id="telefone" name="phone_number" class="form-control" placeholder="(00) 00000-0000">
        </div>
    </div>
</div>
