<section class="space-public">
    <span class="fw-bold">{{ 'introduction' | trans }}</span>
    <div class="d-flex flex-column">
        <span class="fw-bold">{{ 'view.agent.areas_of_expertise' | trans }} (3)</span>
        <span class="space-public-info">DESIGN, ARTES VISUAIS, ARTES GRÁFICAS</span>
    </div>

    <div class="d-flex flex-column">
        <span class="fw-bold">{{ 'view.agent_profile.roles_in_culture' | trans }} (1)</span>
        <span class="space-public-info">ASSISTENTE DE ARTISTA GRÁFICO</span>
    </div>

    <div class="d-flex flex-column">
        <span class="fw-bold">{{ 'tags' | trans}} (3)</span>
        <span class="space-public-info">Design, ACESSIBILIDADE, DESIGNINCLUSIVO</span>
    </div>

    <div class="profile-description">
        <span class="fw-bold">{{ 'description' | trans }}</span>
        <p class="description-agent-profile mt-2 w-80-m">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    </div>

    <div class="d-flex flex-column gap-3 flex-md-row">
        <div class="d-flex flex-column w-50">
            <span class="fw-bold mb-2">Site</span>
            <a href="https://www.example.com" target="_blank" class="text-decoration-none fw-bold">Portólio Anne Elisa</a>
        </div>
        <div class=" d-flex flex-column w-50">
            <span class="fw-bold mb-2">{{ "phone"|trans }}</span>
            <span>(00) 12345-6789</span>
        </div>
    </div>
</section>
