<form id="filter-sidebar" class="sidebar" method="GET" action="" token="{{ token }}">
    <div class="close-filter">
        <span class="d-flex gap-3">
          <i class="material-icons text-primary">filter_alt</i>
          <span class="align-self-center fw-bold">{{ 'filter' | trans }}</span>
        </span>
        <i id="close-filter" class="material-icons close-filter-btn">close</i>
    </div>

    <div class="filter-fields">
        <div class="mb-2 d-flex align-items-center gap-2">
            <input type="checkbox" id="official-spaces" name="official-spaces" value="official-spaces">
            <label for="official-spaces" class="fw-bold">{{ 'official_spaces' | trans }}</label>
            <span class="iconify text-primary" data-icon="oui:check-in-circle-filled"></span>
        </div>

        <div class="form-group">
            <label for="space-name" class="filter-label">{{ 'name_space' | trans }}</label>
            <input type="text" class="filter-form" id="space-name" name="name" placeholder={{ 'enter_space' | trans }}>
        </div>

        <div class="form-group">
            <label for="spaceType" class="filter-label">{{ 'type_space' | trans }}</label>
            <select class="filter-form" id="spaceType" name="spaceType">
                <option value="">{{ 'select' | trans }}</option>
                {% for spaceType in spaceTypes %}
                    <option value="{{ spaceType.id }}">{{ spaceType.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="accessibilities" class="filter-label">{{ 'accessibility' | trans }}</label>
            <select class="filter-form" id="accessibilities" name="accessibilities">
                <option value="">{{ 'everybody' | trans }}</option>
                {% for accessibility in architecturalAccessibility %}
                    <option value="{{ accessibility.id }}">{{ accessibility.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="activityAreas" class="filter-label">{{ 'areas_of_expertise' | trans }}</label>
            <select class="filter-form" id="activityAreas" name="activityAreas">
                <option value="">{{ 'everybody' | trans }}</option>
                {% for activityArea in activityAreas %}
                    <option value="{{ activityArea.id }}">{{ activityArea.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="tags" class="filter-label">{{ 'seals' | trans }}</label>
            <select class="filter-form" id="tags" name="tags">
                <option value="">{{ 'select' | trans }}</option>
                {% for tag in tags %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="state" class="filter-label">{{ 'state' | trans }}</label>
            <select class="filter-form" id="state" name="state">
                <option value="">{{ 'select' | trans }}</option>
                {% for state in states %}
                    <option value="{{ state.id }}">{{ state.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="address" class="filter-label">{{ 'city' | trans }}</label>
            <select class="filter-form" id="address" name="address" data-placeholder="{{ 'select' | trans }}">
                <option value="">{{ 'select' | trans }}</option>
            </select>
        </div>

        <div class="d-flex flex-column gap-2">
            <button id="apply-filters" type="submit" class="btn btn-primary fw-bold py-3">{{ 'apply_filter' | trans }}</button>
            <a href="{{ path("web_space_list") }}" class="btn btn-outline-primary py-3 fw-bold">{{ 'clean_filter' | trans }}</a>
        </div>
    </div>
</form>

{% block extra_javascripts %}
    <script type="module" src="{{ asset('js/side-filter.js') }}"></script>
    <script type="module" src="{{ asset('js/load-cities.js') }}"></script>
{% endblock %}