{% extends "_layouts/blank.html.twig" %}

{% block title %} {{ 'control_panel'|trans }} - {{ 'events'|trans }}{% endblock %}

{% block content %}
    {% include '_components/modal-confirm-remove.html.twig' %}

    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}

        <div class="management-content w-100 p-4">
            <div class="row">
                <div class="col-12">
                    <div class="card card-body shadow">
                        <h2>{{ 'my_events'|trans }}</h2>

                        <hr>

                        <table class="table table-hover table-striped">
                            <thead class="table-dark">
                            <tr>
                                <th>{{ 'name'|trans }}</th>
                                <th>{{ 'created_at'|trans }}</th>
                                <th></th>
                                <th></th>
                                <th>{{ 'actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in events %}
                                <tr>
                                    <td><a href="{{ path('web_event_show', {id: item.id}) }}">{{ item.name }}</a></td>
                                    <td>{{ item.createdAt.format('d/m/Y H:i:s') }}</td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a href="{{ path('admin_event_timeline', {id: item.id}) }}" class="btn btn-outline-info btn-sm">{{ 'Timeline'|trans }}</a>
                                        <a href="{{ path('admin_event_edit', {id: item.id}) }}" class="btn btn-outline-warning btn-sm">{{ 'edit'|trans }}</a>
                                        <button data-cy="remove-{{ loop.index }}" data-bs-toggle="modal" data-bs-target="#modalRemoveConfirm" onclick="confirmRemove(this)" data-href="{{ path('admin_event_remove', {id: item.id}) }}" class="btn btn-outline-danger btn-sm">{{ 'delete'|trans }}</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modal-confirm-remove.js') }}"></script>
{% endblock %}
