<div class="d-flex justify-content-between align-items-end">
    <p class="fw-bold">{{ totalInitiatives }} {{ 'view.initiative.quantity.total' | trans }}</p>
    {% include '_components/order-select.html.twig' %}
</div>

{% for initiative in initiatives %}
    <div class="mw-100 initiative-card">
        <div class="initiative-card-header">
            <div class="d-flex mt-1 mb-3 align-items-center gap-2">
                <img src="{{ asset('img/img.png') }}" alt="{{ 'photo' | trans }}" class="initiative-img">
                <h5 class="initiative-name">{{ initiative.name }}</h5>
            </div>
            <div class="initiative-info">
                <span class="bg-initiative">
                    <i class="material-icons fs-4 me-2">event</i> {{ 'in_progress' | trans }}
                </span>
                <div class="initiative-id">
                    ID: <span title="{{ initiative.id }}">{{ initiative.id|split('-')|first }}...</span>
                </div>
            </div>
        </div>

        <div class="initiative-card-body">
            <p>
                <strong>{{ 'type'| trans }}:</strong>
                {% if initiative.extraFields.culturalLanguage is defined %}
                    <span class="text-initiative fw-semibold">{{ initiative.extraFields.culturalLanguage }}</span>
                {% else %}
                    {{ 'not_informed' | trans }}
                {% endif %}
            </p>

            <p class="initiative-date fw-bold">
                <i class="material-icons">calendar_month</i>
                {{ 'period'| trans }}:
                {% if initiative.extraFields.period is defined %}
                    {{ initiative.extraFields.period.startDate | date('d/m/Y') }} {{ 'to' | trans }} {{ initiative.extraFields.period.endDate | date('d/m/Y') }}
                {% else %}
                    {{ 'not_informed' | trans }}
                {% endif %}
            </p>

            <p class="initiative-location">
                <i class="material-icons">location_on</i>
               <strong class="me-1">{{ 'location'| trans }}:</strong>
                {% if initiative.space %}
                    <span class="location-name fw-bold">{{ initiative.space.name }}</span>
                {% else %}
                    {{ 'not_informed' | trans }}
                {% endif %}
            </p>

            <div class="initiative-seals">
                <strong>{{ 'seals'| trans }}:</strong>
                <p class="seal-initiative">Nome do selo</p>
                <p class="seal-initiative">Nome do selo</p>
                <p class="seal-initiative">Nome do selo</p>
            </div>

            <p class="initiative-description">
                {% if initiative.extraFields.shortDescription %}
                    {{ initiative.extraFields.shortDescription }}
                {% else %}
                    {{ 'not_informed' | trans }}
                {% endif %}
            </p>

            <div class="text-center text-xl-end mt-3">
                <a href="{{ path('web_initiative_show', {id: initiative.id}) }}" class="btn btn-primary list-page__access-btn">{{ 'view.initiative.access' | trans }}</a>
            </div>
        </div>
    </div>
{% endfor %}

{% if initiatives|length > 0 %}
    <div class="container align-items-center mt-5 mb-5">
        <div class="centered-icon-text card-view-more">
            <i class="material-icons">add_circle_outline</i>
            <button class="btn fw-bold">{{ 'see_more' | trans }}</button>
        </div>
    </div>
{% endif %}
