<div class="body-not-found">
    <div class="error-container">
        <div class="error-text">
            <h1>{{ 'view.not-found.error-404' | trans }}</h1>
            <h2>{{ 'view.not-found.error-text_first' | trans }}</h2>
            <p>{{ 'view.not-found.error-text_second' | trans }}</p>
            <p>{{ 'view.not-found.error-text_third' | trans }}</p>
            <a href="{{ path('admin_home_homepage') }}" class="btn btn-primary">{{ 'view.not-found.error-homepage' | trans }}</a>
        </div>
        <img src="{{ asset('img/error.png') }}" alt="{{ 'view.not-found.error-image' | trans }}">
    </div>
</div>
