{% extends "_layouts/blank.html.twig" %}

{% block title %} {{ 'agents'|trans }} {% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/agent-registration.css') }}">
{% endblock %}

{% block content %}
    <section class="white-square d-flex flex-column">
        {% include '_components/breadcrumb.html.twig' with {
            items: [
                {text: 'home'|trans, path: path('web_home_homepage')},
                {text: 'agents'|trans, path: path('web_agent_list')},
            ]
        } %}

        <div class="d-flex align-items-center agent-header-title">
            <span class="agent-create-icon d-flex align-items-center justify-content-center">
                <span class="iconify icon-people" data-icon="icon-park-solid:people"></span>
            </span>
            <h1 class="fw-bold agent-title">{{ "view.agent_create.creation_individual_agent" | trans }}</h1>
        </div>
    </section>

    <main class="mt-2">
        {% include "_admin/agent/_partials/create-form.html.twig" %}

        <div class="save-bar">
            <button>{{ "logout" | trans }}</button>
            <button type="submit" form="agent-create-form" data-cy="agent-submit" id="agent-submit">{{ "save" | trans }}</button>
            <button>{{ "save_share" | trans }}</button>
        </div>
    </main>
{% endblock %}

{% block extra_javascripts %}
    <script type="module" src="{{ asset('js/agent/create.js') }}"></script>
{% endblock %}
