{% extends "_layouts/blank.html.twig" %}

{% block title %} {{ 'control_panel'|trans }} - {{ 'agents'|trans }} - {{ 'Timeline'|trans }}{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}
        {% include "_components/modal-timeline.html.twig" %}

        <div class="management-content w-100 p-4">
            <div class="row">
                <div class="col-12">
                    <div class="card card-body shadow">
                        <div class="d-flex justify-content-between">
                            <h2>{{ 'agent'|trans }} - {{ agent.name }} - {{ 'Timeline'|trans }}</h2>
                            <div>
                                <a href="{{  path('admin_agent_list') }}" class="btn btn-outline-primary">
                                    {{ 'back' | trans }}
                                </a>
                            </div>
                        </div>

                        <hr>

                        <table class="table table-hover table-striped">
                            <thead class="table-dark">
                            <tr>
                                <th>{{ 'title'|trans }}</th>
                                <th>{{ 'created_at'|trans }}</th>
                                <th>{{ 'device'|trans }}</th>
                                <th></th>
                                <th>{{ 'actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in events %}
                                <tr>
                                    <td><a href="#">{{ item.title | trans }}</a></td>
                                    <td>{{ item.datetime.format('d/m/Y H:i:s') }}</td>
                                    <td>{{ item.device }}</td>
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-outline-dark btn-sm"
                                                data-bs-toggle="modal"
                                                data-bs-target="#modal-timeline"
                                                onclick="openModal({{ item.from | json_encode() }}, {{ item.to | json_encode() }})">
                                            {{ 'details' | trans }}
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block extra_javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/modal-timeline.js') }}"></script>
{% endblock %}
