{% extends "_layouts/blank.html.twig" %}

{% block title %}
    {{ 'initiative'|trans }} | {{ initiative.name }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/initiatives.css') }}">
{% endblock %}

{% set pills = [
    {
        'id': 'generalData',
        'title': 'general_data'
    },
    {
        'id': 'workPlan',
        'title': 'work_plan'
    },
    {
        'id': 'events',
        'title': 'events'
    },
    {
        'id': 'peoples',
        'title': 'peoples'
    },
    {
        'id': 'portfolio',
        'title': 'portfolio'
    },
    {
        'id': 'seals',
        'title': 'seals'
    },
    {
        'id': 'connections',
        'title': 'connections'
    }
] %}

{% block content %}
    <div class="container-fluid px-0 bg-white shadow position-relative">
        <img
            class="img-fluid w-100"
            src="{{ initiative.extraFields.coverImage is defined and initiative.extraFields.coverImage ? initiative.extraFields.coverImage : asset('img/entity-cover-image.png') }}"
            alt="{{ 'initiative'|trans }} | {{ 'cover_image'|trans }}"
        >

        <div class="container">
            <div class="breadcrumb pt-sm-4 breadcrumb__entity-details">
                <a href="{{ path('web_home_homepage') }}">{{ 'home'|trans }}</a>
                <a href="{{ path('web_initiative_list') }}">{{ 'initiatives'|trans }}</a>
                <a href="{{ path('web_initiative_show', {id: initiative.id}) }}">{{ initiative.name }}</a>
            </div>
        </div>

        <div class="container position-relative">
            <div class="d-flex mb-3 entity-info-wrapper">
                <img class="entity-image rounded-circle" src="{{ asset('img/entity-image.png') }}" alt="{{ 'initiative'|trans }} | {{ 'image'|trans }}">

                <h2 class="name__entity-details fw-bold ms-2 mt-2 ms-sm-4 mt-sm-3">{{ initiative.name }}</h2>

                <div class="ms-auto mt-3 d-none d-xxl-inline">
                    {% include "_components/_show/info-btns.html.twig" %}
                </div>
            </div>

            <div class="mb-3 d-xxl-none">
                {% include "_components/_show/info-btns.html.twig" %}
            </div>

            <p data-cy="short-description">{{ initiative.extraFields.shortDescription }}</p>

            <p class="text-secondary id__entity-details mb-xxl-0">{{ 'view.initiative.id' | trans }}: {{ initiative.id }}</p>

            {% include '_components/_show/nav-pills.html.twig' with { 'pills': pills } %}
        </div>
    </div>

    <div class="container py-4">
        <div class="tab-content">
            {% include "initiative/_partials/show/general-data.html.twig" %}

            {% include "initiative/_partials/show/work-plan.html.twig" %}

            {% include "initiative/_partials/show/events.html.twig" %}

            {% include '_layouts/_show/peoples.html.twig' with { 'entity': initiative } %}

            {% include "initiative/_partials/show/portfolio.html.twig" %}

            {% include "_layouts/_show/seals.html.twig" %}

            {% include "initiative/_partials/show/connections.html.twig" %}
        </div>
    </div>
{% endblock %}
