<div class="form-step form-step-active">
    <div class="mb-3">
        <label for="inputName" class="form-label">{{ 'full-name'|trans }}</label>
        <input type="text" class="form-control" id="inputName" placeholder="{{ 'register.name'|trans }}">
    </div>
    <div class="mb-3">
        <label for="inputCPF" class="form-label">{{ 'cpf'|trans }}</label>
        <input type="text" class="form-control" id="inputCPF" placeholder="{{ 'register.cpf'|trans }}">
    </div>
    <div class="mb-3">
        <label for="inputEmail" class="form-label">{{ 'email'|trans }}</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="{{ 'Seu sobrenome'|trans }}">
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="form-label">{{ 'password'|trans }}</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="{{ 'Seu sobrenome'|trans }}">
    </div>
    <div class="mb-3">
        <label for="inputPasswordConfirm" class="form-label">{{ 'confirm-password'|trans }}</label>
        <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="{{ 'register.confirm_password'|trans }}">
    <div class="btn-form-group mt-3">
        <a href="#" class="btn btn-next">{{ 'continue'|trans }}</a>
    </div>
</div>
