{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %} {{ 'Login'|trans}} {% endblock %}

{% block content %}
<section class="row mt-5">
    <div class="col-4 offset-4 mt-3">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}


        <div class="card card-body mt-3 mb-5">
            <p class="mb-0">
                <span class="fs-3 fw-bold">{{ 'welcome'|trans }}!</span>
                <br>
                {{ 'view.authentication.paragraph'|trans }}.
            </p>
            <hr>
            <form action="{{ path('web_auth_login') }}" method="post">
                <label for="email">{{ 'email'|trans }}</label>
                <input value="{{ last_username }}" data-cy="email" class="form-control mb-3" type="text" name="email" id="email">

                <label for="password">{{ 'password'|trans }}</label>
                <input data-cy="password" class="form-control mb-3" type="password" name="password" id="password">

                <button data-cy="submit" class="btn btn-primary w-100">
                    {{ 'login'|trans }}
                </button>

                <div class="text-end mt-3">
                    <a href="#">{{ 'view.authentication.forgot_password'|trans }}</a>
                    <br>
                    <a href="{{ path('web_auth_register') }}">{{ 'register'|trans }}</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
