<section class="management-seals">
    <div class="filter-control d-flex justify-content-between">
      <div class="search-box">
          <input id="search-seal" type="text" placeholder="{{ "input_search" | trans }}" />
          <i class="material-icons">search</i>
      </div>

        <div class="d-flex g-4 agent-sort">
            <label class="agent-options fw-semibold" for="sort-options">{{ 'sort_by' | trans }}:</label>
            <select id="sort-options" class="form-select">
                <option value="recent">{{ 'recently_modified' | trans }}</option>
                <option value="old">{{ 'oldest' | trans }}</option>
            </select>
        </div>
    </div>

    <div class="seals d-flex flex-column justify-content-between">
        <div class="seals-header d-flex align-items-center">
            <img src="{{ asset('img/allan.png') }}" alt="{{ 'agent.profile.picture' | trans }}">
            <h1 class="seals-title">Título do selo</h1>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="actions-manage">
                <a href="#">{{ "archive" | trans }}</a>
                <a href="#">{{ "delete" | trans }}</a>
            </div>
            <div class="actions-interact d-flex gap-3">
                <a class="seals-edit" href="#">{{ "edit" | trans }}</a>
                <a href="{{ path("admin_seal_getOne", {'id': '123' }) }}">{{ "access" | trans }}</a>
            </div>
        </div>
    </div>

    <div class="seals d-flex flex-column justify-content-between">
        <div class="seals-header d-flex align-items-center">
            <img src="{{ asset('img/allan.png') }}" alt="{{ 'agent.profile.picture' | trans }}">
            <h1 class="seals-title">Título do selo</h1>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="actions-manage">
                <a href="#">{{ "archive" | trans }}</a>
                <a href="#">{{ "delete" | trans }}</a>
            </div>
            <div class="actions-interact d-flex gap-3">
                <a class="seals-edit" href="#">{{ "edit" | trans }}</a>
                <a href="{{ path("admin_seal_getOne", {'id': '123' }) }}">{{ "access" | trans }}</a>
            </div>
        </div>
    </div>

    <div class="seals d-flex flex-column justify-content-between">
        <div class="seals-header d-flex align-items-center">
            <img src="{{ asset('img/allan.png') }}" alt="{{ 'agent.profile.picture' | trans }}">
            <h1 class="seals-title">Título do selo</h1>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="actions-manage">
                <a href="#">{{ "archive" | trans }}</a>
                <a href="#">{{ "delete" | trans }}</a>
            </div>
            <div class="actions-interact d-flex gap-3">
                <a class="seals-edit" href="#">{{ "edit" | trans }}</a>
                <a href="{{ path("admin_seal_getOne", {'id': '123' }) }}">{{ "access" | trans }}</a>
            </div>
        </div>
    </div>

    <div class="seals d-flex flex-column justify-content-between">
        <div class="seals-header d-flex align-items-center">
            <img src="{{ asset('img/allan.png') }}" alt="{{ 'agent.profile.picture' | trans }}">
            <h1 class="seals-title">Título do selo</h1>
        </div>

        <div class="d-flex justify-content-between align-items-center">
            <div class="actions-manage">
                <a href="#">{{ "archive" | trans }}</a>
                <a href="#">{{ "delete" | trans }}</a>
            </div>
            <div class="actions-interact d-flex gap-3">
                <a class="seals-edit" href="#">{{ "edit" | trans }}</a>
                <a href="{{ path("admin_seal_getOne", {'id': '123' }) }}">{{ "access" | trans }}</a>
            </div>
        </div>
    </div>
</section>
