<div class="d-flex justify-content-between align-items-center mb-4">
    <h2>Eventos de maio de 2024</h2>
    <div class="d-flex align-items-center">
        <span class="me-2">{{ 'see_how'|trans }}:</span>
        <div class="d-flex align-items-center me-2">
            <i class="material-icons me-1">list</i>
            <span>{{ 'list'|trans }}</span>
        </div>
        <span>|</span>
        <div class="d-flex align-items-center me-2">
            <i class="material-icons me-1">view_module</i>
            <span>Cards</span>
        </div>
        <span>|</span>
        <div class="d-flex align-items-center text-primary">
            <i class="material-icons me-1">calendar_today</i>
            <span>{{ 'calendar'|trans }}</span>
        </div>
    </div>
</div>

<div class="row p-2">
    {% for event in spaces %}
        <div class="col-md-4 p-1">
            <div class="card h-100">
                <div class="p-3">
                    <span class="text-white rounded-pill px-3 py-1" style="background-color: #0074C1">
                        {{ event.participants ?? 0 }}
                        {{ 'participants'|trans|lower }}
                    </span>
                </div>

                <div class="card-body">
                    <div class="d-flex align-items-start align-items-center mb-3">
                        <img src="{{ asset('img/home-events.png') }}" alt="Foto do evento" class="rounded-circle event-image">
                        <div>
                            <h5 class="card-title text-primary">{{ event.name }}</h5>
                            <h6 class="card-subtitle text-muted">{{ event.extraFields.type ?? '' }}</h6>
                        </div>
                    </div>

                    <div class="d-flex align-items-start mb-3">
                        <i class="material-icons">event</i>
                        {% set occurrence = (event.extraFields.occurrences ?? ['-2days'])|sort|find(o => date(o) > date('now')) %}
                        {% if occurrence is empty %}
                            <span>{{ 'view.event.not_set_datetime'|trans }}</span>
                        {% else %}
                            <span>{{ occurrence|date('view.event.format_datetime'|trans) }}</span>
                        {% endif %}
                    </div>

                    <div class="d-flex align-items-start mb-3">
                        <i class="material-icons">location_on</i>
                        <span class="fw-bold text-primary">{{ event.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>