<div class="d-flex justify-content-between align-items-end">
    <p class="fw-bold">{{ totalSpaces  }} {{ 'view.space.quantity.total' | trans }}</p>
    <div class="d-flex g-4 agent-sort">
        <label class="text-nowrap" for="sort-options">{{ 'sort_by' | trans }}</label>
        <select id="sort-options" class="form-select bg-transparent border-black">
            <option value="recent">{{ 'most_recent' | trans }}</option>
            <option value="old">{{ 'oldest' | trans }}</option>
        </select>
    </div>
</div>

{% for space in spaces %}
<div class="space-card">
    <img src="{{ asset('img/allan.png') }}" alt="{{ 'space.picture' | trans }}" class="">
    <div class="space-card__content">
        <div class="d-flex justify-content-between mb-2">
            <div class="d-flex flex-column gap-1">
                <h1 class="space-card__title">{{ space.name }}</h1>
                <span class="space-card__type">{{ space.extraFields.type }}</span>
            </div>
            <span class="event-id">
                ID: {{ space.id }}
            </span>
        </div>

        <div class="space-card__info">
            <p class="mb-2">{{ space.extraFields.description }}</p>
            <div class="d-flex gap-1 mb-3">
                <i class="material-icons">location_on</i>
                <span class="align-self-center">{{ space.extraFields.location }}</span>
            </div>
            <div class="mb-3">
                <span class="fw-bold">{{ 'areas_of_expertise' | trans}} (3): </span>
                <span class="fw-bold space-card__areas">{{ space.extraFields.areasOfActivity|join(', ') }}</span>
            </div>
            <div class="d-flex gap-1 mb-3">
                <i class="material-icons">accessibility_new</i>
                <div class="align-self-center">
                    <span class="text-dark fw-bold">{{ 'accessibility' | trans }}</span>
                    {{ space.extraFields.accessibility|join(', ') }}
                </div>
            </div>
            <div class="d-flex event-seals">
                <strong>{{ 'seals'| trans }}:</strong>
                <p class="badge seal">Nome do selo</p>
                <p class="badge seal">Nome do selo</p>
                <p class="badge seal">Nome do selo</p>
            </div>

            <div class="d-flex justify-content-end">
                <a href="#" class="space-card__button">{{ 'view.space.access_space' | trans }}</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
