<div class="faq-form-container">
    <h2 class="form-title">{{ 'question_register'|trans }}</h2>

    {% if errors is defined and errors|length > 0 %}
        <div class="alert alert-danger">
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form method="POST" action="">
        <input type="hidden" name="token" value="{{ csrf_token(form_id) }}">
        <div class="mb-3">
            <label for="question" class="form-label">{{ 'question' | trans }}</label>
            <input type="text" class="form-control" id="question" name="question" value="{{ faq.question }}" placeholder="{{ 'question' | trans}}" required>
        </div>

        <div class="mb-3">
            <label for="answer" class="form-label">{{ 'answer' | trans }}</label>
            <textarea class="form-control" id="answer" name="answer" rows="3" maxlength="500" placeholder="{{ 'description' | trans}}" required>{{ faq.answer }}</textarea>
        </div>

        <div class="btn-form-group">
            <button class="btn btn-primary" type="submit">
                {{ 'save' | trans }}
            </button>
        </div>
    </form>
</div>
