<div class="entity-banner">
    <img src="{{ asset('img/banner.jpeg') }}" alt="{{ 'entity_banner' | trans    }}">
    {% include '_components/breadcrumb.html.twig' with {
        items: [
            {text: 'home'|trans, path: path('web_home_homepage')},
            {text: 'agents'|trans, path: path('web_agent_list')},
            {text: name, path: path('web_agent_getOne', {'id': agent.id})}
        ]
    } %}
</div>

<div class="entity-profile-bio">
    <div class="d-flex justify-content-between align-items-end">
        <div class="entity-photo d-flex align-items-end gap-4">
            <img src="{{ asset('img/allan.png') }}" alt="{{ 'photo' | trans }}">
            <div class="d-flex align-items-end gap-3">
                <h1 class="fs-2 mb-0 fw-bold">{{ name }}</h1>
                <span class="entity-profile-label">
                    <i class="material-icons">person</i>
                    pessoa
                </span>
            </div>
        </div>
        <div class="entity-profile-actions d-flex gap-4">
            <button class="d-flex align-items-center text-nowrap">
                <i class="material-icons">share</i>
                {{ 'share' | trans }}
            </button>
            <button class="d-flex align-items-center text-nowrap">
                <i class="material-icons">chat_bubble</i>
                {{ 'send_message' | trans }}
            </button>
        </div>
    </div>
    <div class="entity-description">
        <p>{{ longBio }}</p>
    </div>
    <div class="profile-tabs d-flex align-items-center justify-content-between">
        {% include tabs %}
        <span>{{ 'identification_number' | trans }}: {{ id }}</span>
    </div>
</div>
