<footer class="footer">
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <div>
                <a href="#"><img src="{{ asset('img/logo-mapa-cultural.png') }}" alt="{{ "logo"|trans }}" class="img-fluid"></a>
            </div>
            <div class="social-icons">
                <a href="#"><img src="{{ asset('img/icone-facebook.png') }}" alt="Facebook" class="me-4"></a>
                <a href="#"><img src="{{ asset('img/icone-x.png') }}" alt="X" class="me-4"></a>
                <a href="#"><img src="{{ asset('img/icone-youtube.png') }}" alt="YouTube"></a>
            </div>
        </div>
    </div>
</footer>
