<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top px-4 py-4">
    <div class="container-fluid">
        <div class="navbar-brand-toogle">
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="{{ path('admin_home_homepage') }}">
                <img src="{{ asset('img/aurora-horizontal.png') }}" width="80px" alt="">
            </a>
        </div>

        <div class="offcanvas offcanvas-start text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav nav-entities fs-5 flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link home" aria-current="page" href="{{ path('admin_home_homepage') }}">
                            <i class="material-icons navbar-icons">home</i>
                            <p>{{ 'home'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link opportunity" aria-current="page" href="{{ path('admin_opportunity_list') }}">
                            <i class="material-icons navbar-icons">lightbulb</i>
                            <p>{{ 'opportunities'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link agent" aria-current="page" href="{{ path('admin_agent_list') }}">
                            <i class="material-icons navbar-icons">group</i>
                            <p>{{ 'agents'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link event" aria-current="page" href="{{ path('admin_event_list') }}">
                            <i class="material-icons navbar-icons">event</i>
                            <p>{{ 'events'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link space" aria-current="page" href="{{ path('admin_space_list') }}">
                            <i class="material-icons navbar-icons">domain</i>
                            <p>{{ 'spaces'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link project" aria-current="page" href="{{ path('admin_initiative_list') }}">
                            <i class="material-icons navbar-icons">article</i>
                            <p>{{ 'initiatives'|trans }}</p>
                        </a>
                    </li>
                </ul>

                {% if app.user.name is defined %}
                    <div class="notifications-login">
                        <div class="d-flex align-items-center gap-2">
                            <div class="position-relative">
                                <i class="material-icons icon-size-1 icon-bg-primary">notifications_none</i>
                                <span class="badge-notification">1</span>
                            </div>
                        </div>
                        <div class="d-flex gap-3 align-content-center">
                            <div class="my-account">
                                <span>{{ app.user.name }}</span>
                                <div class="text-end">
                                    <a href="#">{{ 'my_account'|trans }}</a>
                                    <a href="{{ path('_logout_web') }}" class="text-danger">{{ 'logout'|trans }}</a>
                                </div>
                            </div>
                            <img src="{{ asset('img/allan.png') }}" alt="{{ 'profile-picture'|trans }}" class="profile-picture">
                        </div>
                    </div>
                {% else %}
                    <div class="notifications-login">
                        <a href="{{ path('admin_auth_login') }}" class="nav-btn-login">{{ 'login'|trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
