<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top px-4 py-4">
    <div class="container-fluid">
        <div class="navbar-brand-toogle">
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" href="#">
                <img src="{{ asset('img/logo.png') }}" alt="">
            </a>
        </div>

        <div class="offcanvas offcanvas-start text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav nav-entities fs-5 flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link home" aria-current="page" href="{{ path('admin_home_homepage') }}">
                            <i class="material-icons navbar-icons">home</i>
                            <p>{{ 'home'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link opportunity" aria-current="page" href="{{ path('admin_opportunity_opportunity') }}">
                            <i class="material-icons navbar-icons">lightbulb</i>
                            <p>{{ 'opportunities'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link agent" aria-current="page" haref="{{ path('admin_agent_agent') }}">
                            <i class="material-icons navbar-icons">group</i>
                            <p>{{ 'agents'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link event" aria-current="page" href="{{ path('admin_event_event') }}">
                            <i class="material-icons navbar-icons">event</i>
                            <p>{{ 'events'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link space" aria-current="page" href="{{ path('admin_space_space') }}">
                            <i class="material-icons navbar-icons">domain</i>
                            <p>{{ 'spaces'|trans }}</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link project" aria-current="page" href="{{ path('admin_initiative_initiative') }}">
                            <i class="material-icons navbar-icons">article</i>
                            <p>{{ 'initiatives'|trans }}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="notifications-login">
            <div class="d-flex align-items-center gap-2">
                <span class="fw-semibold">{{ 'notifications'|trans }}</span>
                <div class="position-relative">
                    <i class="material-icons icon-size-1 icon-bg-primary">notifications_none</i>
                    <span class="badge-notification">1</span>
                </div>
            </div>
            <div class="d-flex gap-3 align-content-center">
                <div class="my-account">
                    <span>Alan Turing</span>
                    <a href="#">{{ 'my_account'|trans }}</a>
                </div>
                <img src="{{ asset('img/allan.png') }}" alt="{{ 'profile-picture'|trans }}" class="profile-picture">
            </div>
        </div>
    </div>
</nav>
