<div id="sidebar" class="bg-light p-3 border-end side-navigation sidebar-header">
    {% for menu in env.aurora.sidebar %}
        <p class="font-subtitle">{{ menu.title | trans }}</p>
        <ul class="nav flex-column mb-3">
            {% for key, item in menu.items %}
                <li class="nav-item{% if not app.request or not app.request.attributes.get('_route') == key %} active{% endif %}">
                    <a href="{{ path(key) }}" class="{{ item.color ?? '' }} nav-link d-flex align-items-center">
                        <i class="material-icons icon-size-1">{{ item.icon }}</i>
                        <span class="font-title">{{ item.text | trans }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <!-- Perfil e Sair -->
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="#" class="nav-link d-flex align-items-center text-primary">
                <i class="material-icons icon-size-1">person</i>
                <span class="font-title">{{ 'my_account' | trans }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('_logout_web') }}" class="text-danger d-flex align-items-center nav-link">
                <i class="material-icons icon-size-1">logout</i>
                <span class="font-title">{{ 'logout' | trans }}</span>
            </a>
        </li>
    </ul>
</div>
