<div id="sidebar" class="bg-light p-3 border-end side-navigation">
    <!-- Menu do Painel de Controle -->
    <p class="font-subtitle">{{ 'menu' | trans }}</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="{{ path('admin_dashboard') }}" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">dashboard</i>
                    <span class="font-title ms-4">{{ 'control_panel' | trans }}</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Inscrições em Oportunidades -->
    <p class="font-subtitle">{{ 'my_opportunities' | trans }}</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="{{ path('admin_registrations_list') }}" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-wb-incandescent icon-size-1">wb_incandescent</i>
                    <span class="font-title ms-4">{{ 'my_subscriptions' | trans }}</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-wb-incandescent icon-size-1">wb_incandescent</i>
                    <span class="font-title ms-4">{{ 'accountability' | trans }}</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Editais e Oportunidades -->
    <p class="font-subtitle">{{ 'footer.notices_opportunities' | trans }}</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="{{ path('admin_opportunity_list') }}" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-wb-incandescent icon-size-1">wb_incandescent</i>
                    <span class="font-title ms-4">{{ 'my_opportunities' | trans }}</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-wb-incandescent icon-size-1">wb_incandescent</i>
                    <span class="font-title ms-4">{{ 'my_reviews' | trans }}</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Gerenciamento de Entidades -->
    <p class="font-subtitle">{{ 'management' | trans }}</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="{{ path('admin_agent_list') }}" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">people</i>
                    <span class="font-title ms-4">{{ 'my_agents' | trans }}</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="{{ path('admin_event_list') }}" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">event</i>
                    <span class="font-title ms-4">{{ 'my_events' | trans }}</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="{{ path('admin_space_list') }}" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">apartment</i>
                    <span class="font-title ms-4">{{ 'my_spaces' | trans }}</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="{{ path('admin_initiative_list') }}" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">article</i>
                    <span class="font-title ms-4">{{ 'my_initiatives' | trans }}</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Outras Opções -->
    <p class="font-subtitle">{{ 'other_options' | trans }}</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">extension</i>
                    <span class="font-title ms-4">{{ 'my_apps' | trans }}</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">settings</i>
                    <span class="font-title ms-4">{{ 'account_privacy' | trans }}</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Opções de administrador -->
    <p class="font-subtitle">{{ 'admin_options' | trans }}</p>
    <ul class="nav flex-column mb-3">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="{{ path('admin_seal_list') }}" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">bookmark</i>
                    <span class="font-title ms-4">{{ 'seals' | trans }}</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">account_tree</i>
                    <span class="font-title ms-4">{{ 'subsites' | trans  }}</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">manage_accounts</i>
                    <span class="font-title ms-4">{{ 'user' | trans }}</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1">newspaper</i>
                    <span class="font-title ms-4">{{ 'functions' | trans }}</span>
                </a>
            </div>
        </li>
    </ul>

    <!-- Perfil e Sair -->
    <hr>
    <ul class="nav flex-column">
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="#" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1 icon-bg-primary">person</i>
                    <span class="font-title ms-4">{{ 'my_account' | trans }}</span>
                </a>
            </div>
        </li>
        <li class="nav-item">
            <div class="d-flex align-items-center mb-3">
                <a href="{{ path('_logout_web') }}" class="centered-icon-text nav-link text-dark">
                    <i class="material-icons icon-size-1 icon-bg-primary">logout</i>
                    <span class="font-title ms-4">{{ 'logout' | trans }}</span>
                </a>
            </div>
        </li>
    </ul>
</div>
