<section class="suggestions-section">
    <div class="suggestions-title-container">
        <h5 class="suggestions-title">{{ 'faq-suggestions' | trans }}</h5>
    </div>
    <div class="d-flex justify-content-center gap-4">
        <div class="card-faq">
            <div class="card-question d-flex align-items-start">
                <i class="material-icons card-question-icon">help_outline</i>
                <div>
                    <h4 class="card-question-title">{{ 'faq-notices' | trans}} </h4>
                    <p class="card-question-description">
                        {{ 'faq-find' | trans }}
                    </p>
                </div>
            </div>
        </div>

        <div class="card-faq">
            <div class="card-question d-flex align-items-start">
                <i class="material-icons card-question-icon">help_outline</i>
                <div>
                    <h4 class="card-question-title">{{ 'faq-map' | trans }}</h4>
                    <p class="card-question-description">
                        {{ 'faq-information' | trans }}
                    </p>
                </div>
            </div>
        </div>

        <div class="card-faq">
            <div class="card-question d-flex align-items-start">
                <i class="material-icons card-question-icon">help_outline</i>
                <div>
                    <h4 class="card-question-title">{{ 'faq-registration' | trans }}</h4>
                    <p class="card-question-description">
                        {{ 'faq-results' | trans }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
