<section class="faq-header">
    <div class="faq-content">
        <img src="{{ asset('img/ilustra.png') }}" alt="{{ 'faq-illustration' | trans }}" class="faq-image">
        <div class="faq-text">
            <h1 class="fw-bold">{{ 'faq-questions' | trans }}</h1>
            <p class="lead-faq">{{ 'faq-checks' | trans }}</p>
        </div>
    </div>
</section>

<div class="input-wrapper">
    <input type="text" class="custom-search-input" placeholder="{{ 'faq-keys' | trans }}">
    <span class="custom-search-icon">
            <i class="material-icons">search</i>
        </span>
</div>
