<section class="faq-section">
    <div class="faq-intro">
        <p>{{ 'faq-categories' |trans }}</p>
    </div>

    <div class="d-flex gap-4">
        <div class="col-md-6">
            <div class="card card-body card-faq-item">
                <p>{{ 'faq-opportunity' | trans }}</p>
                <i class="material-icons">chevron_right</i>
            </div>

            <div class="card card-body card-faq-item">
                <p>{{ 'faq-access' | trans }}</p>
                <i class="material-icons">chevron_right</i>
            </div>

            <div class="card card-body card-faq-item">
                <p>{{ 'faq-opportunity' | trans }}</p>
                <i class="material-icons">chevron_right</i>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card card-body card-faq-item">
                <p>{{ 'faq-map' | trans }}</p>
                <i class="material-icons">chevron_right</i>
            </div>

            <div class="card card-body card-faq-item">
                <p>{{ 'faq-notices' | trans }}</p>
                <i class="material-icons">chevron_right</i>
            </div>

            <div class="card card-body card-faq-item">
                <p>{{ 'faq-access' | trans }}</p>
                <i class="material-icons">chevron_right</i>
            </div>
        </div>
    </div>
</section>
