<div class="faq-form-container">
    <h2 class="form-title">{{ 'organization_register' | trans }}</h2>

    <form method="POST" action="">
        <input type="hidden" name="token" value="{{ csrf_token(form_id) }}">
        <div class="mb-3">
            <label for="name" class="form-label">{{ 'name_organization' | trans }}</label>
            <input type="text" class="form-control" id="name" name="name" placeholder={{ 'name_organization' | trans}} required>
        </div>

        <div class="mb-3">
            <label for="areas" class="form-label">{{ 'areas_of_expertise' | trans }}</label>
            <select class="form-select" id="areas" name="areas" required>
                <option value="">{{ 'select' | trans }}</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="short_description" class="form-label">{{ 'short_description' | trans }}</label>
            <textarea class="form-control" id="short_description" name="short_description" rows="3" maxlength="400" placeholder={{ 'short_description' | trans}} required></textarea>
        </div>

        <div class="mb-3">
            <label for="long_description" class="form-label">{{ 'long_description' | trans }}</label>
            <textarea class="form-control" id="long_description" name="long_description" rows="5" placeholder={{ 'type_here' | trans}} required></textarea>
        </div>

        <div class="mb-3">
            <label for="website" class="form-label">Site</label>
            <input type="url" class="form-control" id="website" name="website" placeholder={{ 'type_here' | trans}}  required>
        </div>

        <div class="mb-3">
            <label for="public_email" class="form-label">E-mail</label>
            <input type="email" class="form-control" id="public_email" name="public_email" placeholder={{ 'type_here' | trans}}  required>
        </div>

        <div class="mb-3">
            <label for="public_phone" class="form-label">{{ 'public_phone' | trans }}</label>
            <input type="tel" class="form-control" id="public_phone" name="public_phone" placeholder={{ 'type_here' | trans}}  required>
        </div>

        <div class="btn-form-group">
            <button class="btn btn-primary" type="submit">
                {{ 'save' | trans }}
            </button>
        </div>
    </form>
</div>