<div class="entity-imgs">
    <div class="banner">
        <input class="banner-input" type="file" accept="image/*" />
        <label for="banner-input" class="banner-label">
            <span class="iconify entity-photo me-2" data-icon="tabler:camera-plus"></span>
            {{ 'add_cover_image' | trans }}
        </label>
    </div>

    <div class="profile-pic">
        <label for="profile-input" class="profile-label">
            <span class="iconify entity-photo" data-icon="tabler:camera-plus"></span>
            <input id="profile-input" type="file" accept="image/*" />
        </label>
    </div>
</div>

<div class="entity-introduction-data">
    <label for="name" class="required">
        {{ 'name_event' | trans }}
    </label>
    <input type="text"
           class="form-control"
           id="name" name="name"
           value="{{ event.name }}"
           placeholder="{{ 'enter_event' | trans }}"
           required
    >

    <div>
        <label for="subtitle">{{ 'view.event.edit.subtitle' |trans }}</label>
        <input type="text"
               class="form-control"
               id="subtitle" name="subtitle"
               placeholder="{{ 'type_here' | trans }}"
        >
    </div>

    <div class="entity-input-tags">
        <label>
            {{ 'cultural_language' | trans }}
            <span class="iconify entity-edit-icon me-2" data-icon="ri:question-fill"></span>
        </label>
        <span class="d-flex align-items-center gap-3">
            {{ 'view.registration-space.add_new' | trans }}
            <span class="iconify fs-5" data-icon="material-symbols:add"></span>
        </span>
    </div>

    <div class="entity-input-tags">
        <label>
            Tags
            <span class="iconify entity-edit-icon me-2" data-icon="ri:question-fill"></span>
        </label>
        <span class="d-flex align-items-center gap-3">
            {{ 'view.registration-space.add_new' | trans }}
            <span class="iconify fs-5" data-icon="material-symbols:add"></span>
        </span>
    </div>

    <label for="short-description">{{ 'short_description' | trans }}</label>
    <textarea class="form-control"
              id="short-description" name="short_description"
              placeholder="{{ 'short_description' | trans }}"
              maxlength="400"
    ></textarea>

    <label for="long-description">{{ 'long_description' | trans }}</label>
    <textarea class="form-control"
              id="long-description" name="long_description"
              placeholder="{{ 'long_description' | trans }}"
    ></textarea>


    <div class="d-flex flex-wrap gap-1 gap-md-3">
        <div class="flex-grow-1">
            <label for="site">{{ 'site' | trans }} (URL):</label>
            <input type="text" id="site" class="form-control" placeholder="https://www.site.com">
        </div>
        <div class="flex-grow-1">
            <label for="link-description">{{ 'link_description' | trans }}:</label>
            <input type="text" id="link-description" name="link_description" class="form-control" placeholder="Digite">
        </div>
    </div>
</div>
