<div class="container-fluid entity-social-media p-0">
    <div class="mb-3">
        <h5 class="fw-bold">{{ 'social_media' | trans }}</h5>
    </div>

    <div class="row g-1 g-md-3 mb-0 mb-md-3">
        <div class="col-md-4">
            <label for="instagram" class="form-label">Instagram</label>
            <div class="input-group">
                <i class="iconify fs-3" data-icon="hugeicons:instagram"></i>
                <input
                        type="text"
                        class="form-control"
                        id="instagram"
                        placeholder="@{{ 'user_name' | trans }}"
                >
            </div>
        </div>

        <div class="col-md-4">
            <label for="x" class="form-label">X</label>
            <div class="input-group">
                <i class="iconify fs-3" data-icon="fa6-brands:x-twitter"></i>
                <input
                        type="text"
                        class="form-control"
                        id="x"
                        placeholder="@{{ 'user_name' | trans }}"
                >
            </div>
        </div>

        <div class="col-md-4">
            <label for="facebook" class="form-label">Facebook</label>
            <div class="input-group">
                <i class="iconify fs-3" data-icon="streamline:facebook-1"></i>
                <input
                        type="text"
                        class="form-control"
                        id="facebook"
                        placeholder="@{{ 'user_name' | trans }}"
                >
            </div>
        </div>
    </div>

    <div class="row g-1 g-md-3 mb-0 mb-md-3">
        <div class="col-md-4">
            <label for="vimeo" class="form-label">Vimeo</label>
            <div class="input-group">
                <i class="iconify fs-3" data-icon="hugeicons:vimeo"></i>
                <input
                        type="text"
                        class="form-control"
                        id="vimeo"
                        placeholder="@{{ 'user_name' | trans }}"
                >
            </div>
        </div>

        <div class="col-md-4">
            <label for="youtube" class="form-label">YouTube</label>
            <div class="input-group">
                <i class="iconify fs-3" data-icon="iconoir:youtube"></i>
                <input
                        type="text"
                        class="form-control"
                        id="youtube"
                        placeholder="@{{ 'user_name' | trans }}"
                >
            </div>
        </div>

        <div class="col-md-4">
            <label for="linkedin" class="form-label">LinkedIn</label>
            <div class="input-group">
                <i class="iconify fs-3" data-icon="teenyicons:linkedin-outline"></i>
                <input
                        type="text"
                        class="form-control"
                        id="linkedin"
                        placeholder="@{{ 'user_name' | trans }}"
                >
            </div>
        </div>
    </div>

    <div class="row g-1 g-md-3 mb-0 mb-md-3">
        <div class="col-md-4">
            <label for="spotify" class="form-label">Spotify</label>
            <div class="input-group">
                <i class="iconify fs-3" data-icon="hugeicons:spotify"></i>
                <input
                        type="text"
                        class="form-control"
                        id="spotify"
                        placeholder="@{{ 'user_name' | trans }}"
                >
            </div>
        </div>

        <div class="col-md-4">
            <label for="pinterest" class="form-label">Pinterest</label>
            <div class="input-group">
                <i class="iconify fs-3" data-icon="hugeicons:pinterest"></i>
                <input
                        type="text"
                        class="form-control"
                        id="pinterest"
                        placeholder="@{{ 'user_name' | trans }}"
                >
            </div>
        </div>

        <div class="col-md-4">
            <label for="tiktok" class="form-label">TikTok</label>
            <div class="input-group">
                <i class="iconify fs-3" data-icon="proicons:tiktok"></i>
                <input
                        type="text"
                        class="form-control"
                        id="tiktok"
                        placeholder="@{{ 'user_name' | trans }}"
                >
            </div>
        </div>
    </div>
</div>
