{% extends "_layouts/blank.html.twig" %}

{% block title %} {{ 'control_panel'|trans }} - {{ 'view.tag.edit'|trans }}{% endblock %}

{% block content %}
    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}

        <div class="management-content w-100 p-4">
            <div class="container d-grid justify-content-start mt-4">
                <a href="{{ path('admin_tag_list') }}" class="nav-link centered-icon-text text-primary">
                    <i class="material-icons">arrow_back</i>
                    {{ 'back'|trans }}
                </a>
            </div>

            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="card card-body shadow">
                        <h2>{{ 'view.tag.edit'|trans }}</h2>

                        <hr>

                        <form method="POST">
                            <input type="hidden" name="token" value="{{ csrf_token(form_id) }}">
                            <div class="mb-3">
                                <label for="name" class="mb-1">{{ 'name'|trans }}</label>
                                <input type="text" class="form-control" id="name" name="name" data-cy="name" required value="{{ tag.name }}">
                            </div>

                            <button type="submit" class="btn btn-primary me-3" data-cy="submit">{{ 'view.tag.edit'|trans }}</button>
                            <a href="{{ path('admin_tag_list') }}" class="btn">{{ 'cancel'|trans }}</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
