<div class="cards-container">
    <div class="space-card">
        <div class="space-card-header">
            <div class="icon-circle">
                <i class="material-icons">apartment</i>
            </div>
            <div class="space-info">
                <h5 class="space-name">Secult</h5>
            </div>
        </div>

        <div class="space-card-body">
            <p class="space-area"><strong>{{ 'space.type.card' | trans }}</strong> <span class="space-sub-area">{{ 'space.file' | trans }}</span></p>
            <p class="space-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p class="space-location"> {{ 'space.access.card' | trans }}</p>
            <div class="space-seals">
                <p class="seals-area"><strong>{{ 'space-area.activity' | trans }}</strong>
                    <span class="seal">Antropologia</span>
            </div>
            <div class="access-profile-container">
                <button class="btn btn-primary access-profile">{{ 'space.access' | trans}}</button>
            </div>
        </div>
    </div>
</div>
