<div class="container-public-info">
    <h2 class="form-title">{{ 'public_information' | trans }}</h2>
    <p class="form-subtitle">{{ 'view.registration-space.data_public' | trans }}</p>

    <form>
        <div class="form-group">
            <label for="longDescription" class="form-label">{{ 'long_description' | trans }}</label>
            <textarea class="form-control" id="longDescription" rows="4" placeholder="{{ 'long_description' | trans }}"></textarea>
        </div>

        <div class="action-buttons">
            <div class="form-group">
                <label class="form-label">{{ 'view.registration-space.add_files' | trans }}</label>
                <button type="button" class="add-button"><i class="material-icons">add</i> {{ 'send' | trans }}</button>
            </div>

            <div class="form-group">
                <label class="form-label">{{ 'link' | trans }}</label>
                <button type="button" class="add-button"><i class="material-icons">add</i> {{ 'link' | trans }}</button>
            </div>

            <div class="form-group">
                <label class="form-label">{{ 'video' | trans }}</label>
                <button type="button" class="add-button"><i class="material-icons">add</i> {{ 'video' | trans }}</button>
            </div>

            <div class="form-group">
                <label class="form-label">{{ 'image_gallery' | trans }}</label>
                <button type="button" class="add-button"><i class="material-icons">add</i> {{ 'image' | trans }}</button>
            </div>
        </div>
    </form>
</div>
