<div class="tab-pane" id="phases">
    <div class="card card-body shadow">
        <table class="table table-hover table-striped">
            <thead class="table-dark">
            <tr>
                <th>{{ 'name_phases' | trans }}</th>
                <th>{{ 'description' | trans }}</th>
                <th>{{ 'start_date' | trans }}</th>
                <th>{{ 'end_date' | trans }}</th>
                <th>{{ 'status' | trans }}</th>
                <th>{{ 'actions' | trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for phase in phases %}
                <tr>
                    <td>{{ phase.name }}</td>
                    <td>{{ phase.description }}</td>
                    <td>{{ phase.startDate is not null ? phase.startDate|date('d/m/Y') : '' }}</td>
                    <td>{{ phase.endDate is not null ? phase.endDate|date('d/m/Y') : '' }}</td>
                    <td>{{ phase.status }}</td>
                    <td>
                        <a href="#" class="btn btn-outline-info btn-sm">
                            {{ 'see_phase' | trans }}
                        </a>
                        <a href="{{ path('admin_opportunity_phase_timeline', {
                            opportunityId: opportunity.id,
                            phaseId: phase.id
                        }) }}"
                           class="btn btn-outline-info btn-sm">
                            Timeline
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">
                        {{ 'no_phase' | trans }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
