<div class="faq-form-container">
    <h2 class="form-title">{{ 'view.seal.create' | trans }}</h2>

    <form method="POST" action="">
        <div class="mb-3">
            <label for="question" class="form-label">{{ 'seal_name' | trans }}</label>
            <input type="text" class="form-control" id="question" name="question" placeholder={{ 'question' | trans}} required>
        </div>

        <div class="mb-3">
            <label class="form-label">{{ 'type' | trans }}</label><br>
            <span class="badge rounded-pill text-bg-primary">{{ 'tags' | trans }}</span>
            <span class="badge rounded-pill text-bg-primary">{{ 'tags' | trans }}</span>
        </div>

        <div class="mb-3">
            <label for="answer" class="form-label">{{ 'answer' | trans }}</label>
            <textarea class="form-control" id="answer" name="answer" rows="3" maxlength="500" placeholder={{ 'description' | trans }}required></textarea>
        </div>

        <div class="btn-form-group">
            <button class="btn btn-primary" type="submit">
                {{ 'save' | trans }}
            </button>
        </div>
    </form>
</div>
