<div class="seal-form-container">
    <h2 class="form-title">{{ 'view.seal.create' | trans }}</h2>

    <form method="POST" action="{{ path('admin_seal_add') }}">
        <input type="hidden" name="token" value="{{ csrf_token(form_id) }}">
        <div class="mb-3">
            <label for="name" class="form-label">{{ 'seal_name' | trans }}</label>
            <input type="text" class="form-control" id="name" name="name" placeholder={{ 'name' | trans}} required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">{{ 'description' | trans }}</label>
            <textarea class="form-control" id="description" name="description" rows="3" maxlength="500" placeholder={{ 'description' | trans }} required></textarea>
        </div>

        <div class="btn-form-group">
            <button class="btn btn-primary" type="submit">
                {{ 'save' | trans }}
            </button>
        </div>
    </form>
</div>
