<main class="seal-content">
    <section>
        <div>
            <h2 class="fs-4 fw-bold">{{ "view.seal.certificate-seal-validity" | trans }}</h2>
            <span class="seal-validity">28 de dezembro a 29 de outubro de 2025</span>
        </div>
        <div class="mb-4">
            <h2 class="fs-4 fw-bold mb-3">{{ "description"|trans }}</h2>
            <p>
                Ac massa tempus mattis dictum. Eu molestie morbi a mattis pretium et lectus egestas euismod. Cras at quis tincidunt vel feugiat enim, felis ut amet. Nibh sit nulla eget purus quam porta non. Erat condimentum sapien amet suspendisse diam, nunc massa consectetur. Morbi sed ac massa elementum. Rhoncus viverra lorem interdum eu quis facilisis tempus. Auctor laoreet varius eu pretium congue. Nam elementum neque nec commodo arcu. Odio aliquet dui ultrices fermentum nunc ut mattis. Accumsan, tortor senectus volutpat lectus fermentum. Vulputate viverra egestas id fames. Aenean id nibh ut sed semper.
                <br><br>
                Odio fringilla scelerisque faucibus ac sodales vel leo lobortis. Facilisis platea habitant praesent et. Aenean aliquet leo mauris facilisis id habitant. Neque vel etiam adipiscing aliquam dapibus vulputate lacinia. Felis, scelerisque leo pretium fringilla eget metus quisque.
                <br><br>
                Vestibulum turpis suspendisse nascetur risus vitae nulla orci. Ullamcorper orci montes, egestas egestas vel adipiscing ut risus metus. Purus tortor eget malesuada vitae venenatis, adipiscing. Massa quis volutpat est egestas laoreet. Quam mattis cursus amet, urna, sed non ut quis tristique. Eu blandit laoreet sed orci, semper purus, sapien. Sit vel lectus facilisis ut semper nunc, felis eleifend pulvinar. Placerat arcu nascetur vulputate nunc enim tellus faucibus. Cursus vel, et laoreet sapien sed sodales. Ullamcorper quisque urna nulla diam sed. Ut posuere nunc tempus, habitant urna sit massa dolor ornare. Cursus vestibulum phasellus viverra fames diam turpis lorem morbi. Elit praesent in nulla condimentum platea orci ac enim.
            </p>
        </div>
        <div class="seal-files">
            <h3 class="fs-4 fw-bold mb-4">{{ "downloadable-files" | trans }}</h3>
            <ul class="list-unstyled">
                <li>
                    <a class="text-decoration-none" href="caminho/do/arquivo1.pdf" download>
                        <span class="iconify" data-icon="ic:baseline-download" style="font-size: 1.9rem;"></span>
                        <span>Arquivo de anexo que você pode baixar.pdf</span>
                    </a>
                </li>
                <li>
                    <a class="text-decoration-none" href="caminho/do/arquivo1.pdf" download>
                        <span class="iconify" data-icon="ic:baseline-download" style="font-size: 1.9rem;"></span>
                        <span>Arquivo de anexo que você pode baixar.pdf</span>
                    </a>
                </li>
                <li>
                    <a class="text-decoration-none" href="caminho/do/arquivo1.pdf" download>
                        <span class="iconify" data-icon="ic:baseline-download" style="font-size: 1.9rem;"></span>
                        <span>Arquivo de anexo que você pode baixar.pdf</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="seal-links mt-4">
            <h3 class="fs-4 fw-bold mb-3">Links</h3>
            <ul class="list-unstyled">
                <li>
                    <a class="text-decoration-none" href="caminho/do/arquivo1.pdf">
                        <span class="iconify" data-icon="material-symbols:link" style="font-size: 1.9rem;"></span>
                        <span>Link de algo</span>
                    </a>
                </li>
                <li>
                    <a class="text-decoration-none" href="caminho/do/arquivo1.pdf">
                        <span class="iconify" data-icon="material-symbols:link" style="font-size: 1.9rem;"></span>
                        <span>Link de algo</span>
                    </a>
                </li>
                <li>
                    <a class="text-decoration-none" href="caminho/do/arquivo1.pdf">
                        <span class="iconify" data-icon="material-symbols:link" style="font-size: 1.9rem;"></span>
                        <span>Link de algo</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <aside>
        <div>
            <span class="seal-aside-title">{{ "published-by" | trans }}</span>
            <div class="d-flex gap-2 align-items-center mt-2">
                <img src="{{ asset('img/allan.png') }}" alt="Foto de perfil">
                <span class="fw-bold">Gestor da oportunidade</span>
            </div>
        </div>
        <div class="mt-5">
            <span class="seal-aside-title">Agentes Relacionados</span>
            <div class="mt-3">
                <ul class="list-unstyled d-flex gap-3">
                    <li>
                        <a href="#">
                            <img src="{{ asset('img/allan.png') }}" alt="Foto de perfil">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{ asset('img/allan.png') }}" alt="Foto de perfil">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{ asset('img/allan.png') }}" alt="Foto de perfil">
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="{{ asset('img/allan.png') }}" alt="Foto de perfil">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </aside>
</main>
